@media only screen and (min-width: 768px) {
:root {
	--nav-margin: 30px;
}

#nav {
	transform: scale(1);
}

main {
	margin-left: calc(var(--nav-margin)*2 + 200px);
	padding: 80px;
	padding-top: 100px;
}
}