.semiquery-container {
	--transition: 0.5s;
	--border: 2px;
	--icon-dimension: 2.5rem;
	padding-left: calc(var(--icon-dimension) / 2 - var(--border));
}

.semiquery {
	position: relative;
	margin-left: auto;
	border-radius: calc(var(--input-radius));
	border: var(--border) solid var(--primary3);
	background: var(--primary1);
}
.semiquery + .semiquery {margin-top: calc(var(--main-margin) / 2);}

.semiquery-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: var(--font2);
	font-style: italic;
	padding: calc(var(--container-padding) * 0.7) var(--container-padding);
	color: var(--primary8);
	text-decoration: none;
	transition: all var(--transition);
	box-sizing: border-box;
}

.semiquery-icon {
	--hashtag-transition: 0.2s;
	position: absolute;
	left: calc(var(--icon-dimension) / -2);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: var(--icon-dimension);
	min-width: var(--icon-dimension);
	border: var(--border) solid var(--primary3);
	border-top-color: transparent;
	border-right-color: transparent;
	border-radius: 50%;
	background: var(--primary1);
	color: var(--primary8);
	transform: rotate(45deg);
	transition: all var(--transition);
	/* cursor: pointer; */
	z-index: 10;
}
.semiquery-icon svg {
	font-size: calc(var(--icon-dimension) * 0.38);
	opacity: 1;
	transform: rotate(-135deg);
	transition: all var(--transition), opacity var(--hashtag-transition);
}

.hashtag {
	--tooltip-width: 110px;
	--tooltip-float: 5px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	opacity: 0;
	font-family: var(--font2);
	font-size: var(--heading-font-size);
	font-style: normal;
	border-radius: 50%;
	transform: rotate(-45deg);
	transition: all var(--transition), opacity var(--hashtag-transition);
	pointer-events: none;
}
/* .semiquery-icon:hover svg {opacity: 0;}
.semiquery-icon:hover .hashtag {opacity: 1;} */

.semiquery:hover .semiquery-top,
.semiquery:hover .semiquery-icon {
	background: var(--primary3);
	color: var(--primary14);
}

.semiquery-title {
	--tooltip-width: auto;
	--tooltip-float: -3px;
	max-width: 70%;
	font-size: var(--heading-font-size);
	font-weight: 500;
	line-height: var(--font2-line-height);
	margin-left: 2px;
	margin-right: var(--container-padding);
	z-index: 11;
}

.semiquery-origin {
	font-size: 16px;
	font-weight: 300;
	white-space: nowrap;
}

.semiquery-bottom {
	height: 0;
	transition: all var(--transition);
	overflow: hidden;
}

.semiquery-content {padding: var(--container-padding);}



/* Open Semiquery */
.open-semiquery .semiquery-top,
.open-semiquery .semiquery-icon {
	background: var(--primary3);
	color: var(--primary14);
}

.open-semiquery .semiquery-icon svg {transform: rotate(-45deg);}

.open-semiquery .semiquery-bottom {height: auto;}