.semiquery {
	--hover-transition: 0.2s;
	--slide-transition: 0.5s;
	position: relative;
	border-radius: calc(var(--input-radius));
	background: var(--primary1);
	overflow: hidden;
}
.semiquery + .semiquery {margin-top: calc(var(--main-margin) / 2);}

.semiquery-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: var(--font2);
	font-style: italic;
	padding: calc(var(--container-padding) * 0.7) var(--container-padding);
	color: var(--primary8);
	transition: all var(--slide-transition);
	cursor: s-resize;
	box-sizing: border-box;
}
.semiquery-top:hover {
	background: var(--primary2);
	color: var(--primary14);
}
.open-semiquery .semiquery-top {
	background: var(--primary2);
	color: var(--primary14);
	cursor: n-resize;
}

.semiquery-title {
	--hashtag-width: 22px;
	--tooltip-width: auto;
	--tooltip-float: -3px;
	max-width: 70%;
	font-size: var(--heading-font-size);
	font-weight: 500;
	line-height: var(--font2-line-height);
}
/* .hashtag {
	display: inline-block;
	width: var(--hashtag-width);
	font-style: normal;
	opacity: 0;
	margin-right: calc(-1 * var(--hashtag-width));
	color: var(--primary8);
	transition: all 0.1s;
}
.semiquery-title:hover .hashtag {
	opacity: 1;
	margin-right: 0;
} */

.semiquery-origin {
	font-size: 16px;
	font-weight: 300;
}

.semiquery-bottom {
	opacity: 0;
	max-height: 0;
	transition: all var(--slide-transition);
}
.open-semiquery .semiquery-bottom {opacity: 1;}

.semiquery-content {padding: var(--container-padding);}

.semiquery-content p + p {margin-top: 12px;}

.semiquery-divider {
	height: 1px;
	width: 100%;
	border-top: 1px dashed var(--paragraph-grey);
}