body {
	display: block;
	max-width: var(--body-width);
	margin: 0 auto;
	background: var(--primary2);
	overflow-x: hidden;
}

main {
	position: relative;
	background: var(--main-background);
	margin: var(--main-margin);
	margin-left: calc(var(--nav-width) + 2 * var(--main-margin));
	padding: var(--main-padding);
	border-radius: 20px;
	overflow: hidden;
}

input[type="radio"], input[type="checkbox"] {display: none;}

input[type="text"] {
	font-family: var(--font1);
	border: 0;
}

p {
	font-size: var(--main-font-size);
	line-height: var(--main-line-height);
}

.show-flex {display: flex;}



/* Dropped Text */
.dropped {
	--stroke-width: calc(var(--font-size) / 40);
	--offset: calc(var(--font-size) / 20);
	--spacing: calc(var(--font-size) / 80);
	font-family: var(--font2);
	font-size: var(--font-size);
	font-weight: 900;
	font-style: italic;
	line-height: 1.2;
	letter-spacing: var(--spacing);
	color: transparent;
	text-shadow: var(--offset) var(--offset) var(--primary7);
	-webkit-text-stroke: var(--stroke-width) black;
	box-sizing: border-box;
}



/* Links */
.inline {
	display: inline-block;
	font-weight: 500;
	color: var(--primary8);
	text-decoration: none;
}
.inline:hover {
	text-decoration: underline;
	animation: rock 0.4s ease-in-out;
}
.inline:active {color: var(--primary11);}



/* Buttons */
.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	text-align: center;
	font-family: var(--font3);
	font-size: 19px;
	font-weight: 700;
	font-style: italic;
	padding: 0.7em 1em;
	box-shadow: inset 0 0 0 2px var(--main-text-color);
	color: var(--main-text-color);
	text-decoration: none;
	transform-style: preserve-3d;
	transition: all 0.3s;
}
.btn:before {
	content: '';
	position: absolute;
	top: 6px;
	left: 6px;
	height: 100%;
	width: 100%;
	background: var(--primary7);
	transform: translateZ(-1px);
	transition: all 0.3s;
}
.btn:hover {color: var(--main-background);}
.btn.disabled {cursor: not-allowed;}
.btn.disabled:before {background: #bbb;}
.btn:hover:before {
	top: 0px;
	left: 0px;
	background: var(--main-text-color);
}
.btn svg {
	display: flex;
	justify-content: center;
	width: 0.8em;
	max-width: 1em;
	margin-right: 0.4em;
}

.btn-alt {
	position: relative;
	text-align: center;
	font-family: var(--font3);
	font-size: 17px;
	font-weight: 700;
	font-style: italic;
	padding: 10px 14px;
	border-radius: var(--input-radius);
	color: black;
	background: var(--primary7);
	text-decoration: none;
	transition: all 0.3s;
}
.btn-alt:hover {
	color: white;
	background: black;
}

.action-btn {
	height: calc(var(--input-height) - 5px);
	font-family: var(--font3);
	font-size: 18px;
	font-weight: 700;
	font-style: italic;
	padding: 0 var(--input-padding);
	border: 0;
	border-radius: var(--input-radius);
	background: var(--primary5);
	color: white;
	transition: all var(--input-transition);
	cursor: pointer;
}
.action-btn:hover {background: var(--primary7);}
.action-btn:disabled {
	opacity: 0.4;
	cursor: auto;
	pointer-events: none;
}



/* Options */
.container-option {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--input-height);
	width: 100%;
	font-size: var(--input-font-size);
	font-weight: 500;
	padding: 0 var(--input-padding);
	border-radius: var(--input-radius);
	background: var(--primary1);
	transition: all var(--input-transition);
	cursor: pointer;
	box-sizing: border-box;
	overflow: hidden;
}
.container-option:hover {
	background: var(--main-background);
}
.container-option ~ .container-option {margin-top: var(--input-spacing);}
input:checked + .container-option {
	box-shadow: inset 0 0 0 var(--input-border) var(--primary6);
	background: var(--main-background);
}

.option-indicator {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 20px;
	font-size: 15px;
	border: var(--input-border) solid var(--primary6);
	border-radius: 50%;
	color: transparent;
	transition: all var(--input-transition);
	box-sizing: content-box;
}
input:checked + .container-option {
	box-shadow: inset 0 0 0 var(--input-border) var(--primary6);
	background: var(--main-background);
}
input:checked + .container-option .option-indicator {
	color: var(--main-background);
	background: var(--primary6);
}



/* Heading */
.heading {
	font-family: var(--font2);
	font-size: var(--heading-font-size);
	font-weight: 500;
	font-style: italic;
	padding-bottom: 0;
	border-bottom: 1px dashed #bbb;
}



/* Typing animation cursor */
.typed-cursor {
	display: inline-block;
	width: 0;
	font-weight: 500;
	transform: translateX(calc(var(--font-size) * -0.1)) translateY(calc(var(--font-size) * -0.1));
	animation: blink 1s ease-in-out infinite;
}