:root {
	--p-size: 15px;
	--p-height: 24px;
	--main-margin: 30px;
	--mobile-margin: 60px;
}
body {
	font-family: var(--font1);
	font-weight: 400;
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: var(--primary2);
	color: var(--text);
	overflow-x: hidden;
}
main {
	position: relative;
	background-color: white;
	margin: var(--main-margin);
	margin-left: calc(var(--nav-width) + 2*var(--main-margin));
	padding: 80px;
	padding-top: 100px;
	border-radius: 15px;
}



.normal {
	font-size: var(--p-size);
	line-height: var(--p-height);
}



.inline {
	display: inline-block;
	color: var(--primary8);
	text-decoration: none;
	font-weight: 500;
}
.inline:hover {
	-webkit-animation: rock 0.4s ease-in-out;
	-moz-animation: rock 0.4s ease-in-out;
	animation: rock 0.4s ease-in-out;
}
.inline:active {
	color: var(--primary10);
}

.button {
	position: relative;
	display: flex;
	text-align: center;
	font-family: var(--font3);
	font-size: 19px;
	font-weight: 700;
	font-style: italic;
	padding: 10px 14px;
	box-shadow: 0 0 0 2px inset black;
	color: black;
	text-decoration: none;
	transform-style: preserve-3d;
	transition: all 0.3s;
}
.button:after {
	content: '';
	position: absolute;
	top: 6px;
	left: 6px;
	height: 100%;
	width: 100%;
	transform: translateZ(-1px);
	background-color: var(--primary7);
	transition: all 0.3s;
}
.button:hover {
	background-color: black;
	color: white;
}
.button:hover:after {
	top: 0px;
	left: 0px;
}



.heading {
	font-family: var(--font2);
	font-size: 25px;
	font-style: italic;
	font-weight: 400;
	line-height: 40px;
	border-bottom: 1px dashed var(--grey5);
}