body {
	font-family: var(--font1);
	font-weight: 400;
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: var(--primary2);
	color: var(--text);
	overflow-x: hidden;
}
main {
	position: relative;
	background: white;
	margin: var(--main-margin);
	margin-left: calc(var(--nav-width) + 2 * var(--main-margin));
	padding: 80px;
	padding-top: 100px;
	border-radius: 15px;
}

input[type="radio"] {display: none;}



.normal {
	font-size: var(--main-font-size);
	line-height: var(--main-line-height);
}



.inline {
	display: inline-block;
	color: var(--primary8);
	text-decoration: none;
	font-weight: 500;
}
.inline:hover {
	-webkit-animation: rock 0.4s ease-in-out;
	-moz-animation: rock 0.4s ease-in-out;
	animation: rock 0.4s ease-in-out;
}
.inline:active {color: var(--primary10);}

.button {
	position: relative;
	display: flex;
	text-align: center;
	font-family: var(--font3);
	font-size: 19px;
	font-weight: 700;
	font-style: italic;
	padding: 10px 14px;
	box-shadow: inset 0 0 0 2px black;
	color: black;
	text-decoration: none;
	transform-style: preserve-3d;
	transition: all 0.3s;
}
.button:before {
	content: '';
	position: absolute;
	top: 6px;
	left: 6px;
	height: 100%;
	width: 100%;
	background: var(--primary7);
	transform: translateZ(-1px);
	transition: all 0.3s;
}
.button:hover {
	color: white;
	background: black;
}
.button:hover:before {
	top: 0px;
	left: 0px;
}
.button.disabled {cursor: not-allowed;}
.button.disabled:before {
	opacity: 0.7;
	filter: grayscale(1);
}



.heading {
	font-family: var(--font2);
	font-size: 25px;
	font-style: italic;
	font-weight: 400;
	line-height: 40px;
	border-bottom: 1px dashed #bbb;
}