* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}
*:focus {outline: none;}

body {
	font-family: var(--font1);
	font-weight: 400;
	color: var(--text);
}

::selection {
	background-color: var(--primary7);
	color: white;
}
::-moz-selection {
	background-color: var(--primary7);
	color: white;
}