.actual-semiterm {
	font-family: var(--font2);
	font-size: 45px;
	font-weight: 700;
	font-style: normal;
	margin-top: 20px;
	color: var(--primary13);
}

.semiterm-info {
	padding-bottom: 8px;
	margin-bottom: 12px;
	margin-top: 2px;
	border-bottom: 1px dashed #bbb;
}

.pos {
	display: inline;
	font-size: 17px;
	font-weight: 600;
	font-style: italic;
	color: var(--primary8);
}

.pron {
	display: inline;
	margin: 0 15px;
}

.pron-type {
	font-family: var(--font5);
	font-size: 16px;
	color: var(--paragraph-grey);
}

.pron-toggle {
	font-family: var(--font3);
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	padding: 6px 9px;
	border: none;
	outline: none;
	color: var(--primary8);
	background: var(--lightest-grey);
}
.pron-toggle:hover {
	cursor: pointer;
	text-decoration: underline;
}

.pos-definition {
	display: flex;
	flex-direction: column;
}
.pos-definition + .pos-definition {margin-top: 15px;}

.pos-label {margin-bottom: 5px;}

.definition-list {
	display: flex;
	flex-direction: column;
}

.definition-count {margin-right: 5px;}

.definition {
	display: flex;
	margin-left: 20px;
	margin-bottom: 10px;
}

.definition-example {
	margin-left: 10px;
	color: var(--paragraph-grey);
}

.extra-heading {
	margin-top: 60px;
	margin-bottom: 12px;
	color: var(--primary13);
}

.info-text p {margin-bottom: 15px;}
.info-text em {color: var(--paragraph-grey);}

.semiterm-date span {
	color: var(--primary8);
	margin-left: 5px;
}

.semiterm-neologist span {
	color: var(--paragraph-grey);
	margin-left: 5px;
}