.chapter-title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 80px;
}

.chapter-header {
	font-family: var(--font2);
	font-size: 65px;
	font-weight: 700;
	font-style: normal;
	margin: 0;
}

.chapter-subheader {
	position: relative;
	display: block;
	font-family: var(--font2);
	font-size: 25px;
	font-weight: 400;
	font-style: italic;
	margin: 0;
	margin-top: -5px;
	height: 30px;
	color: #888;
}
.chapter-subheader:before, .chapter-subheader:after {
	--accent-width: 40px;
	--accent-offset: 10px;
	content: '';
	position: absolute;
	top: 50%;
	height: 3px;
	width: var(--accent-width);
	border-radius: 999px;
	background: #888;
	box-sizing: border-box;
}
.chapter-subheader:before {left: calc(-1 * var(--accent-width) - var(--accent-offset));}
.chapter-subheader:after {right: calc(-1 * var(--accent-width) - var(--accent-offset));}



/* Index Page */
.chapter-link-container {
	border-radius: 12px;
	padding: 30px;
}

.chapter-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 15px 0;
}
.btn-info {
	font-size: 17px;
	font-weight: 600;
	font-style: italic;
	margin-left: 15px;
	opacity: 0.5;
}

.finished {
	background-color: var(--primary1);
	margin-bottom: var(--container-margin);
}
.finished-header {
	color: var(--primary13);
	margin-bottom: 20px;
}

.unfinished {
	background-color: var(--lightest-grey);
}
.unfinished-header {
	color: #555;
	margin-bottom: 20px;
}