:root {
	--poll-margin: 10px;
	--option-height: 50px;
}

iframe {
	border: none;
	margin: 5px;
	margin-bottom: 20px;
}
.thin-poll {width: 280px;}
.wide-poll {width: 500px;}

.poll-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}



/* Main */
.poll {
	display: table-cell;
	width: 100vw;
	padding: var(--poll-margin);
	padding-top: 0;
	background-color: var(--primary2);
	box-sizing: border-box;
}

.poll-title {
	font-family: var(--font2);
	font-size: 20px;
	font-weight: 400;
	font-style: italic;
	text-align: center;
	color: var(--primary14);
	margin: 20px;
	margin-top: 25px;
	box-sizing: border-box;
}

.poll input[type="radio"] {display: none;}

.multi-choice label:hover,
.yes-no label:hover {
	background-color: white;
}
.multi-choice input[type="radio"]:checked + label,
.yes-no input[type="radio"]:checked + label {
	background-color: white;
	outline: 3px solid var(--primary5);
	outline-offset: -3px;
}

.poll-bottom {
	height: var(--option-height);
	width: 100%;
}

.poll-count {
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	height: 100%;
	width: 50%;
	font-family: var(--font2);
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	color: var(--primary14);
}

.submit {
	height: 100%;
	width: 50%;
	float: right;
	font-family: var(--font3);
	font-size: 18px;
	font-weight: 700;
	font-style: italic;
	margin: 0;
	padding: 0;
	border: none;
	background-color: var(--primary5);
	color: white;
	cursor: pointer;
}
.submit:hover {
	background-color: var(--primary7);
}
.submit:disabled {
	background-color: var(--grey4);
	cursor: auto;
}

.submit i {
	display: none;
	font-size: 25px;
	animation: spinner 1s steps(8) infinite;
}

.loading {
	pointer-events: none;
	background-color: var(--primary4);
}
.loading span {display: none;}
.loading i {display: inline-block;}



/* Multiple Choice */
.multi-choice label {
	font-size: 18px;
	position: relative;
	display: flex;
	align-items: center;
	height: var(--option-height);
	width: 100%;
	margin-bottom: var(--poll-margin);
	background-color: var(--primary1);
	cursor: pointer;
	box-sizing: border-box;
}

.multi-choice .option {
	font-size: 16px;
	font-weight: 500;
	margin-left: 15px;
	z-index: 1;
}

.multi-choice .vote-fill {
	position: absolute;
	height: 100%;
	background-color: var(--primary5);
	z-index: 0;
}



/* Yes or No */
.yes-no label {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(48vw - 1.5*var(--poll-margin));
	width: calc(50% - var(--poll-margin)/2);
	margin-bottom: var(--poll-margin);
	background-color: var(--primary1);
	cursor: pointer;
	float: left;
	box-sizing: border-box;
}
.yes-no .no {margin-left: var(--poll-margin);}
.yes-no label:hover {background-color: white;}

.yes-no .option {
	font-size: 22px;
	font-weight: 500;
	margin: 0;
	z-index: 1;
}

.yes-no .vote-fill {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: var(--primary5);
	z-index: 0;
}



/* Open Ended */
.open-ended textarea {
	width: 100%;
	height: 200px;
	font-size: 16px;
	font-family: var(--font1);
	color: black;
	border: 5px solid var(--primary1);
	border-radius: 0;
	padding: 8px;
	padding-top: 6px;
	margin-bottom: var(--poll-margin);
	resize: none;
	box-sizing: border-box;
	-webkit-appearance: none;
}
.open-ended textarea:disabled {
	color: var(--grey5);
	background-color: white;
	border-color: var(--grey1);
	opacity: 1;
}