:root {
	--poll-margin: 8px;
	--option-height: 50px;
	--poll-radius: 5px;
}

.result {display: none;}

/* Main */
.poll {
	display: flex;
	flex-direction: column;
	padding: 18px;
	padding-top: 0;
	border-radius: var(--poll-radius);
	background-color: var(--primary2);
	box-sizing: border-box;
}

.poll-title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: var(--font2);
	font-size: 20px;
	font-weight: 400;
	font-style: italic;
	margin: 22px 0;
	color: var(--primary14);
}

.poll input[type="radio"] {display: none;}

.poll-bottom {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.poll-info {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 18px;
	width: 18px;
	font-family: var(--font1);
	font-size: 15px;
	font-weight: 700;
	margin-left: 10px;
	margin-right: auto;
	border: 2px solid var(--primary5);
	border-radius: 50%;
	color: var(--primary5);
	cursor: pointer;
	user-select: none;
}

.poll-count {
	font-family: var(--font2);
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	margin-right: 15px;
	color: var(--primary14);
}

.submit {
	height: 45px;
	width: 100px;
	font-family: var(--font3);
	font-size: 18px;
	font-weight: 700;
	font-style: italic;
	border: none;
	border-radius: var(--poll-radius);
	background-color: var(--primary5);
	color: white;
	cursor: pointer;
}
.submit:hover {background-color: var(--primary7);}
.submit:disabled {
	opacity: 0.4;
	cursor: auto;
	pointer-events: none;
}



/* Multiple Choice */
label {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--option-height);
	width: 100%;
	font-size: 18px;
	margin-bottom: var(--poll-margin);
	border-radius: var(--poll-radius);
	background-color: var(--primary1);
	cursor: pointer;
	box-sizing: border-box;
	overflow: hidden;
}
label:hover {background-color: white;}
.result label {pointer-events: none;}

.option-text {
	font-weight: 500;
	padding-left: 15px;
	z-index: 1;
}

.option-indicator {
	height: 20px;
	width: 20px;
	border: 3px solid var(--primary6);
	border-radius: 50%;
	margin-right: 15px;
}
input:checked + label .option-indicator {
	background: var(--primary6);
}

.option-percent {
	font-weight: 600;
	padding-right: 15px;
	color: var(--primary12);
	z-index: 1;
}

.option-fill {
	position: absolute;
	height: 100%;
	background-color: var(--primary4);
	z-index: 0;
}

.option-fill, .option-percent, .poll-count {display: none;}