.search-positioner {
	--search-height: 40px;
	--search-width: 380px;
	--search-padding: 14px;
	--search-spacing: 8px;
	--search-radius: 6px;
	position: relative;
	height: var(--search-height);
	width: 100%;
}

.search-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: var(--search-width);
	border-radius: var(--search-radius);
	background: white;
	transition: all 0.2s;
}

.search-bar {
	height: var(--search-height);
	width: 100%;
	font-family: var(--font1);
	font-size: var(--main-font-size);
	border: 0;
	border-radius: var(--search-radius);
	outline: 0;
	padding: 0 var(--search-padding);
	background: #eee;
	box-sizing: border-box;
}

.search-results {
	display: none;
	flex-direction: column;
	margin-top: var(--search-spacing);
}

.search-link {
	display: flex;
	align-items: center;
	height: var(--search-height);
	font-size: var(--main-font-size);
	text-decoration: none;
	padding-left: var(--search-padding);
	border-radius: var(--search-radius);
	color: black;
	transition: all 0.1s;
}
.search-link:hover {background: var(--primary2);}

.none-found {
	display: none;
	align-items: center;
	height: var(--search-height);
	font-size: var(--main-font-size);
	font-style: italic;
	padding-left: var(--search-padding);
	color: var(--paragraph-grey);
}

.active {
	padding: var(--search-spacing);
	border-radius: calc(2 * var(--search-radius));
	box-shadow: 0 0 0 2px var(--primary2);
}