---
---

<!DOCTYPE html>
<html>

<head>
	{% include head.html %}
	<link rel="stylesheet" href="snake.css">
</head>

<body class="base-body">
	<div class="nav">
		{% include navicon.html %}
		{% include navbook.html %}

		<div class="popup" id="semiboy">
			<div class="semiboy-screen-border">
				<div class="semiboy-screen" id="semiboy-screen">
					<div class="semiboy-cell-sizer"></div>
		
					<div class="semiboy-dialog semiboy-instructions-dialog show-flex">
						<div>EAT THE<br>APPLE</div>
		
						<div class="semiboy-controls-container">
							<div class="semiboy-arrow-controls-container">
								<div>↑</div>
								<div>←<span>↑</span><span>←</span></div>
							</div>
		
							<div class="semiboy-controls-separator">or</div>
			
							<div class="semiboy-wasd-controls-container">
								<div>W</div>
								<div>ASD</div>
							</div>
						</div>
					</div>
		
					<div class="semiboy-dialog semiboy-start-dialog show-flex">
						<div>
							<i class="fa-solid fa-apple-whole"></i>
							<i class="fa-solid fa-worm"></i>
						</div>
						<div>SEMISNAKE</div>
						<button class="semiboy-dialog-btn semiboy-play-btn">PLAY</button>
					</div>
		
					<div class="semiboy-dialog semiboy-lose-dialog">
						<div>GAME OVER</div>
						<div>LENGTH: <span class="semiboy-length">0</span></div>
						<button class="semiboy-dialog-btn semiboy-play-again-btn">PLAY<br>AGAIN</button>
					</div>
		
					<div class="semiboy-dialog semiboy-win-dialog">
						<div>YOU WIN!</div>
						<div>LENGTH: <span class="semiboy-length">0</span></div>
						<button class="semiboy-dialog-btn semiboy-play-again-btn">PLAY<br>AGAIN</button>
					</div>
		
					<div class="semiboy-length-container">LENGTH: <span class="semiboy-length">0</span></div>
		
					<input class="semiboy-focus" type="text" autocomplete="off" tabindex="-1">
				</div>
			</div>
		
			<div class="semiboy-title">SEMIBOY™</div>
		
			<div class="semiboy-btn-container">
				<div class="semiboy-arrow-btn-container">
					<div class="semiboy-arrow-btn semiboy-arrow-up-btn"></div>
					<div class="semiboy-arrow-btn semiboy-arrow-left-right-btn"></div>
					<div class="semiboy-arrow-btn semiboy-arrow-down-btn"></div>
				</div>
		
				<div class="semiboy-action-btn-container">
					<div class="semiboy-action-btn semiboy-a-btn"></div>
					<div class="semiboy-action-btn semiboy-b-btn"></div>
				</div>
			</div>
		</div>
	</div>

	<main></main>

	<script src="{{ site.baseurl }}/js/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js"></script>
	<script>
		var boardCellHeight = 10;
		var boardCellWidth = 12;
		var cellSize = $(".semiboy-cell-sizer").width();
	
		var boardHeight = boardCellHeight * cellSize;
		var boardWidth = boardCellWidth * cellSize;
	
		var gameboy1 = $("#semiboy").css("--gameboy1");
		var gameboy2 = $("#semiboy").css("--gameboy2");
		var gameboy3 = $("#semiboy").css("--gameboy3");
		var gameboy4 = $("#semiboy").css("--gameboy4");
		var gameboy4 = $("#semiboy").css("--gameboy4");
	
	
	
		// Setup function
		function setup() {
			game = createCanvas(boardWidth, boardHeight);
			game.parent("semiboy-screen");
	
			$(".semiboy-length-container").appendTo(".semiboy-screen");
	
			frameRate(10);
			noLoop();
		}
	
	
	
		// Create snake body coordinates
		function createSnake() {
			snakeBody = [];
	
			for (let i = snakeLength - 1; i >= 0; i--) {
				snakeBody.push({
					x : i - 1,
					y : 0
				});
			}
		}
	
	
	
		// Generate random coordinates on board
		function generateRandomCoords() {
			var randomX = Math.floor(Math.random() * boardCellWidth);
			var randomY = Math.floor(Math.random() * boardCellHeight);
			return {x: randomX, y: randomY};
		}
	
		// Create apple coordinates
		function createApple() {
			var proposedApplePosition = generateRandomCoords();
			var badApple = false;
	
			if (JSON.stringify(proposedApplePosition) == JSON.stringify(apple)) badApple = true;
	
			snakeBody.forEach(function(snakeBit) {
				if (JSON.stringify(proposedApplePosition) == JSON.stringify(snakeBit)) badApple = true;
			});
	
			if (badApple == true) createApple();
			else apple = proposedApplePosition;
		}
	
	
	
		// Check if snake ran into itself
		function checkCollision(x, y) {
			collision = false
	
			snakeBody.forEach(function(snakeBit) {
				if (snakeBit.x == x && snakeBit.y == y) collision = true;
			});
	
			return collision;
		}
	
	
	
		// Code to run every frame
		function draw() {
			background(gameboy1);
	
			var nx = snakeBody[0].x;
			var ny = snakeBody[0].y;
	
			// Directional conditions that would make the player unfaily lose
			var upToDown = proposedDirection == "up" && currentDirection == "down";
			var downToUp = proposedDirection == "down" && currentDirection == "up";
			var leftToRight = proposedDirection == "left" && currentDirection == "right";
			var rightToLeft = proposedDirection == "right" && currentDirection == "left";
	
			// Don't finalize direction change unless player has made a fair move
			if (upToDown == false && downToUp == false && leftToRight == false && rightToLeft == false) {
				currentDirection = proposedDirection;
			}
	
			switch (currentDirection) {
				case "up":    ny--; break;
				case "down":  ny++; break;
				case "left":  nx--; break;
				case "right": nx++; break;
			}
	
			// If player genuinely loses
			if (
				nx == -1 ||
				nx == boardCellWidth ||
				ny == -1 ||
				ny == boardCellHeight ||
				checkCollision(nx, ny)
			) {
				noLoop();
				$(".semiboy-lose-dialog").addClass("show-flex");
				return;
			}
	
			// If snake eats apple, reset apple position
			if (nx == apple.x && ny == apple.y) {
				snakeLength++;
				$(".semiboy-length").html(snakeLength);
	
				// If player has eaten last apple i.e. won the game
				if (snakeLength == (boardCellHeight * boardCellWidth)) {
					$(".semiboy-win-dialog").addClass("show-flex");
					noLoop();
				} else createApple();
			}
			else tail = snakeBody.pop();
	
			tail = {
				x: nx,
				y: ny
			};
			snakeBody.unshift(tail);
	
			// Paint snake body
			fill(gameboy3);
			stroke(gameboy4);
			strokeWeight(1);
			for (let i = 0; i < snakeBody.length; i++) {
				var snakeBit = snakeBody[i];
				rect(snakeBit.x * cellSize, snakeBit.y * cellSize, cellSize, cellSize);
			}
		
			// Paint apple
			fill(gameboy4);
			strokeWeight(1);
			circle((apple.x * cellSize) + (cellSize / 2), (apple.y * cellSize) + (cellSize / 2), cellSize);
		}
	
	
	
		// On keypresses
		$(document).keydown(function(e) {
			if ($(".semiboy-focus").is(":focus")) {
				e.preventDefault();
	
				if      (e.which == "38" || e.which == "87") proposedDirection = "up";
				else if (e.which == "40" || e.which == "83") proposedDirection = "down";
				else if (e.which == "37" || e.which == "65") proposedDirection = "left";
				else if (e.which == "39" || e.which == "68") proposedDirection = "right";
				else if (e.which == "82") $(".semiboy-play-again-btn").click();
			}
		});
	
	
	
		// New game function
		function newGame() {
			snakeLength = 2;
			$(".semiboy-length").html(snakeLength);
			proposedDirection = "right";
			currentDirection = "";
			apple = {x: 0, y: 0};
	
			createSnake();
			createApple();
	
			loop();
		}
	
	
	
		$(".semiboy-play-btn").click(function() {
			$(this).closest(".semiboy-dialog").removeClass("show-flex");
			setTimeout(function() {
				$(".semiboy-instructions-dialog").removeClass("show-flex");
				newGame();
			}, 2000);
		});
	
		$(".semiboy-play-again-btn").click(function() {
			$(this).closest(".semiboy-dialog").removeClass("show-flex");
			newGame();
		});
	
	
	
		$(".semiboy-screen").click(function() {
			$(".semiboy-focus").focus();
		});
	</script>
</body>

</html>