.logo {
	--logo-size: 140px;
	--logo-stroke: calc(var(--logo-size)/40);
	--logo-offset: calc(var(--logo-size)/22.5);
	--logo-spacing: calc(var(--logo-size)/80);
	height: calc(var(--logo-size) + var(--logo-stroke) + var(--logo-offset));
	width: 100%;
	text-align: center;
	font-family: var(--font2);
	font-size: var(--logo-size);
	font-weight: 900;
	font-style: italic;
	line-height: calc(var(--logo-size) + var(--logo-stroke) + var(--logo-offset));
	letter-spacing: var(--logo-spacing);
	-webkit-text-stroke-color: black;
	animation: logo 1s forwards;
	animation-delay: 1.8s;
	margin-top: 100px;
}

@keyframes logo {
	to {
		color: transparent;
		text-shadow: var(--logo-offset) var(--logo-offset) var(--primary7);
	}
}