/* Table of Contents */
.chapter-title-container {margin-bottom: 40px;}
.chapter-title {
	font-style: italic;
	font-size: 40px;
	line-height: 50px;
}
.chapter-subtitle {display: none;}



/* Index Page */
.chapter-link-container {padding: 20px;}
.btn-info {display: none;}
.finished-header, .unfinished-header {text-align: center;}
.chapter-link {margin: 0;}
.chapter-link ~ .chapter-link {margin-top: 5px;}
.btn[disabled] {
	background: #999;
	pointer-events: none;
}



/* Preface */
.tooltip {display: none;}
.greeting-container {margin-bottom: 30px;}
.hi {
	display: block;
	font-size: 35px;
}
.greeting-rest {
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
}
.preface-p {flex-direction: column;}
.preface-p:nth-child(3) {flex-direction: column-reverse;}
.semi-pic {
	width: 70%;
	margin: 30px;
}



/* Semiterms */
.alphabet-container {columns: 1;}

.letter-container + .letter-container {margin-top: var(--main-margin);}



/* Semipolls */
.semipoll-pack {
	--gutter: calc(0.75 * var(--container-padding));
	--padding: calc(0.75 * var(--container-padding));
	margin-top: calc(1.5 * var(--input-height) - var(--border));
}
.semipoll-pack + .semipoll-pack {margin-top: calc(1.5 * var(--input-height) - var(--border) + var(--container-padding));}

.semipoll-pack-title {
	top: calc(-1.5 * var(--input-height));
	height: calc(1.5 * var(--input-height));
	width: calc(100% + 2 * var(--border));
}

.semipoll-pack-title-text {flex-direction: column;}

.semipoll-pack-date {margin: 0;}

.semipoll-pack-title-corner:nth-child(3n) {
	bottom: calc(-1 * var(--radius) + var(--border));
	right: 0;
	transform: rotate(180deg);
}

.semipoll {width: 100%;}

.semipoll-info {display: none;}



/* Semiqueries */
.semiquery-container {
	--icon-dimension: 50px;
	padding: 0;
	padding-top: calc(var(--icon-dimension) / 2 - var(--border));
}

.semiquery + .semiquery {margin-top: calc((var(--icon-dimension) + var(--main-margin)) / 2 - var(--border));}

.semiquery-top {
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.semiquery-icon {
	left: auto;
	top: calc(var(--icon-dimension) / -2);
	transform: rotate(135deg);
}

.open-semiquery .semiquery-icon svg {transform: rotate(-135deg);}

.semiquery:hover .semiquery-icon,
.semiquery:hover .semiquery-top {
	background: var(--primary1);
	color: var(--primary8);
}
.open-semiquery:hover .semiquery-icon,
.open-semiquery:hover .semiquery-top {
	background: var(--primary3);
	color: var(--primary14);
}

.semiquery-title {
	max-width: none;
	margin: 0;
	margin-top: 5px;
}

.semiquery-origin {margin-top: 5px;}

.hashtag {transform: rotate(-135deg);}



/* Site Resources */
.resource {
	--resource-padding: 20px;
	width: 100%;
}
.resource + .resource {margin-top: var(--main-margin);}
.resource:before {display: none;}

.resource-top {flex-direction: column;}

.resource-subtitle {margin-top: 5px;}

.resource-bottom {
	flex-direction: column-reverse;
	align-items: center;
}

.resource-logo-container {
	padding: 0;
	margin: calc(2 * var(--resource-padding));
	border: 0;
}

.resource-logo {width: 100%;}

.resource-bottom p {
	text-align: center;
	padding-top: 0;
}