/* General */
/* Table of Contents */
.chapter-title-container {
	text-align: center;
	margin-bottom: 40px;
}
.chapter-header {
	font-style: italic;
	font-size: 40px;
	line-height: 50px;
}
.chapter-subheader {display: none;}



/* Index Page */
.chapter-link-container {padding: 20px;}
.btn-info {display: none;}
.finished-header, .unfinished-header {text-align: center;}
.chapter-link {margin: 0;}
.chapter-link ~ .chapter-link {margin-top: 5px;}
.btn.disabled {
	background: #999;
	pointer-events: none;
}



/* Preface */
.tooltip {display: none;}
.greeting-container {margin-bottom: 30px;}
.hi {
	display: block;
	font-size: 35px;
}
.greeting-rest {
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
}
.preface-p {flex-direction: column;}
.preface-p:nth-child(3) {flex-direction: column-reverse;}
.me-pic {
	width: 70%;
	margin: 30px;
}



/* Site Resources */
.resource {
	--resource-padding: 20px;
	width: 100%;
}
.resource:before {display: none;}
.resource-title-container {
	flex-direction: column;
	padding: var(--resource-padding);
}
.resource-info {
	flex-direction: column-reverse;
	align-items: center;
}
.resource-logo-container {
	padding: 0;
	margin: calc(2 * var(--resource-padding));
	border: 0;
}
.resource-logo {
	width: 100%;
	transform: none;
}
.resource-info p {
	text-align: center;
	padding-top: 0;
}



.search-positioner {
	--search-height: 36px;
	--search-width: 90%;
	margin-bottom: 45px;
}
.index-links-container {
	margin-top: 30px;
	margin-left: 20px;
}
.letter {font-size: 40px;}



.semipoll-container {
	--poll-gap: 16px;
	columns: 1;
}
.semipoll-info {display: none;}



/* Semiblurbs */
.blurb-top {
	flex-direction: column;
	align-items: stretch;
	height: auto;
	padding: 12px var(--blurb-padding);
}

.blurb-title {font-size: 18px;}
.blurb-title:hover > span, .blurb-title:active > span {display: none;}

.blurb-origin {
	font-size: 13px; 
	margin: 0;
}

.blurb-writing {text-indent: 0;}