.index-display {height: 600px;}
.logo {
	--logo-size: 55px;
	--logo-offset: calc(var(--logo-size) / 14);
}
.slogan {--font-size: 16px;}

.homepage-popup {visibility: hidden;}

.semimedia {margin: 0;}
.recent-media {
	width: 100%;
	margin: 0;
	border-radius: 0;
}
.recent-header {font-size: 35px;}
.recent-positioner {flex-direction: column;}
.recent-newest {padding: var(--card-margin);}