main {
	transition: margin-top 0.5s;
}
.nav {
	margin: 0;
	top: -150px;
	position: absolute;
	left: calc(50% - var(--nav-width)/2);
	transition: top 0.5s;
}
.gutter {
	position: absolute;
	display: block;
	height: 400px;
	width: 100%;
	background-color: var(--primary2);
	top: -400px;
	left: 0;
	z-index: 1000;
}
.popup {
	display: none;
	visibility: hidden;
}



.navicon {
	--a: 35px;
	--b: calc(var(--a)/7);
	position: absolute;
	top: calc((var(--mobile-margin) - var(--a))/2);
	left: calc((var(--mobile-margin) - var(--a))/2 + 5px);
	z-index: 100;
}



.navicon label {
	display: block;
	height: var(--a);
	width: var(--a);
	z-index: 100;
	cursor: pointer;
}



.bar {
	position: absolute;
	display: block;
	height: var(--b);
	width: var(--a);
	transition: all 0.2s;
	pointer-events: none;
	border-radius: calc(var(--b)/2);
	background-color: var(--primary7);
	z-index: 100;
}
.top {
	top: calc(var(--a)/8);
	left: 0;
}
.mid {
	top: calc(50% - var(--b)/2);
	left: 0;
	margin: 0 auto;
}
.bot {
	bottom: calc(var(--a)/8);
	left: 0;
}



#toggle {display: none;}
#toggle:checked ~ .nav {top: 0;}
#toggle:checked ~ main {margin-top: 170px;}



.ribbon1:hover {
	top: calc(var(--cover-height) + 0.3*var(--page-height) - var(--label-length) - (3*(var(--ribbon-width)/20)));
}
.ribbon2:hover {
	top: calc(var(--cover-height) + 1.3*var(--page-height) - var(--label-length) - (3*(var(--ribbon-width)/20)));
}
.ribbon3:hover {
	top: calc(var(--cover-height) + 2.3*var(--page-height) - var(--label-length) - (3*(var(--ribbon-width)/20)));
}