.actual-semiterm {
	text-align: center;
	font-size: 40px;
	font-style: italic;
	line-height: 50px;
	margin: 0;
	margin-bottom: 10px;
}

.semiterm-info {
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 12px;
}

.pron {
	display: block;
	margin: 0;
	margin-top: 6px;
	margin-bottom: 10px;
}

.pron-type {font-size: 16px;}

.pron-toggle {margin: 0;}
.pron-toggle:hover {text-decoration: none;}
.pron-toggle:active {background: #eee;}

.pos-label {
	text-align: center;
}

.definition {
	margin: 0;
	margin-bottom: 20px;
}

.definition-example {margin: 0;}