---
---

<!DOCTYPE html>
<html>

<head>
	{% include head.html %}

	<!-- Desktop Index -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/index/main.css"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/index/semimedia.css"/>

	<!-- Mobile Index -->
	<link rel="stylesheet" media="all and (max-width: {{ site.landscape }})" href="{{ site.baseurl }}/css/mobile/index.css">
	<link rel="stylesheet" media="all and (max-width: {{ site.landscape }}) and (min-width: {{ site.mobile }})" href="{{ site.baseurl }}/css/mobile/landscape.css">
</head>

<body>
	<div class="nav">
		{% include navicon.html %}
		{% include navbook.html %}
	</div>

	<div id="desktop-homepage">
		<div class="index-display">
			<div class="logo">Semipedia</div>
			<div class="slogan">The <i id="slogan-adj"></i> online encyclopedia</div>
			<i class="bouncer fas fa-chevron-down"></i>
		</div>

		<div class="semimedia">
			<div class="recent-media recent-semiterms">
				<div class="recent-header">Semiterms</div>
				<div class="recent-positioner">
					<div class="recent-newest">
						<span class="recent-title">The Latest:</span>
						{%- assign semiterms = site.semiterms | date_sort | reverse -%}
						{%- for semiterm in semiterms limit:1 -%}
						{%- include semiterm-card.html -%}
						{%- endfor -%}
					</div>
					<div class="carousel-container">
						<span class="recent-title">The Greatest:</span>
						<div class="carousel">
							{%- for i in (1..2) -%}
							{%- for semiterm in semiterms limit:8 offset:1 -%}
							{%- include semiterm-card.html -%}
							{%- endfor -%}
							{%- endfor -%}
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- <div class="recent-media recent-semiblurbs">
			<div class="recent-header">Some Semiblurbs</div>
			<div class="recent-positioner">
				<div class="carousel-container">
					<p class="recent-title">The Greatest:</p>
					<div class="carousel">
						{%- for chapter in site.chapters limit:1 offset:4 -%}
						{%- for blurb in chapter.blurbs -%}
						{%- include semiblurb-card.html -%}
						{%- endfor -%}
						{%- endfor -%}
					</div>
				</div>
				<div class="recent-newest">
					<p class="recent-title">The Latest:</p>
					{%- for chapter in site.chapters limit:1 offset:4 -%}
					{%- for blurb in chapter.blurbs -%}
					{%- include semiblurb-card.html -%}
					{%- endfor -%}
					{%- endfor -%}
				</div>
			</div>
		</div> -->
	</div>

	{% if site.popup == true %}
	<div class="homepage-popup">
		<div class="close">
			<span></span>
			<span></span>
		</div>
		{% include popup.html %}
	</div>
	{% endif %}
	
	<script src="js/main.js"></script>
	<script>
		var logoStroke = $('.logo').css('--logo-stroke').replace(/[^0-9/]/g, '');
			logoStroke = eval(logoStroke);
		var logoDuration = parseFloat($('.logo').css('animation-duration')) * 1000;
		var logoDelay = parseFloat($('.logo').css('animation-delay')) * 1000;
		$('.logo').delay(logoDelay).animate({'-webkit-text-stroke-width': logoStroke}, logoDuration);

		var showDuration = parseFloat($('.index-body').css('--show-duration')) * 1000;
		var showDelay = parseFloat($('.index-body').css('--show-delay')) * 1000;
		var showInterval = parseFloat($('.index-body').css('--show-interval')) * 1000;

		new Typed('#slogan-adj', {
			strings: [
				'quaintest',
				'humblest',
				'nicest',
				'coziest',
				'goofiest',
				'funkiest',
				'grooviest',
				'hottest',
				'quirkiest',
				'cleverest',
				'tastiest'
			],
			startDelay: showDuration + showDelay,
			typeSpeed: 60,
			backSpeed: 50,
			backDelay: 1500,
			loop: true
		});

		// if (!localStorage.popupShown) {
			// $('.homepage-popup').delay(showDelay + showDuration + showInterval).fadeIn(300);
			// var popupTime = new Date();
			// localStorage.popupShown = popupTime;
		// }
		$('.close').click(() => $('.homepage-popup').fadeOut(300));
	</script>
</body>

</html>