---
---

<!DOCTYPE html>
<html>

<head>
{% include head.html %}

	<!--Desktop Index-->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/index/main.css"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/index/semimedia.css"/>

	<!--Mobile Index-->
	<link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ site.baseurl }}/css/sizes/mobile/index/main.css"/>
	<link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ site.baseurl }}/css/sizes/mobile/index/semimedia.css"/>
</head>

<body class="index-body">
	<div class="nav">
		{% include navbook.html %}
	</div>

	<div id="desktop-homepage">
		<div class="index-display">
			<div class="logo">Semipedia</div>
			<div class="slogan">The <i id="slogan-adj"></i> online encyclopedia.</div>
			<i class="bouncer fas fa-chevron-down"></i>
		</div>

		<div class="semimedia">
			<div class="recent-media recent-semiterms">
				<div class="recent-header">Some Semiterms</div>
				<div class="recent-positioner">
					<div class="recent-newest">
						<span class="recent-title">The Latest:</span>
						{%- assign semiterms = site.semiterms | date_sort | reverse -%}
						{%- for semiterm in semiterms limit:1 -%}
						{%- include semiterm-card.html -%}
						{%- endfor -%}
					</div>
					<div class="carousel-container">
						<span class="recent-title">The Greatest:</span>
						<div class="carousel">
							{%- for i in (1..2) -%}
							{%- for semiterm in semiterms limit:8 offset:1 -%}
							{%- include semiterm-card.html -%}
							{%- endfor -%}
							{%- endfor -%}
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- <div class="recent-media recent-semiblurbs">
			<div class="recent-header">Some Semiblurbs</div>
			<div class="recent-positioner">
				<div class="carousel-container">
					<p class="recent-title">The Greatest:</p>
					<div class="carousel">
						{%- for chapter in site.chapters limit:1 offset:4 -%}
						{%- for blurb in chapter.blurbs -%}
						{%- include semiblurb-card.html -%}
						{%- endfor -%}
						{%- endfor -%}
					</div>
				</div>
				<div class="recent-newest">
					<p class="recent-title">The Latest:</p>
					{%- for chapter in site.chapters limit:1 offset:4 -%}
					{%- for blurb in chapter.blurbs -%}
					{%- include semiblurb-card.html -%}
					{%- endfor -%}
					{%- endfor -%}
				</div>
			</div>
		</div> -->
	</div>

	<div class="homepage-popup">
		<div class="close">
			<span></span>
			<span></span>
		</div>
		{% include popup.html %}
	</div>

	<script src="{{ site.baseurl }}/js/main.js" async></script>
	<script>
		var showDuration = parseFloat($('.index-body').css('--show-duration')) * 1000;
		var showDelay = parseFloat($('.index-body').css('--show-delay')) * 1000;
		var showInterval = parseFloat($('.index-body').css('--show-interval')) * 1000;

		new Typed('#slogan-adj', {
			strings: [
				'quaintest',
				'humblest',
				'nicest',
				'coziest',
				'goofiest',
				'funkiest',
				'grooviest',
				'hottest',
				'quirkiest',
				'cleverest',
				'tastiest'
			],
			startDelay: showDuration + showDelay,
			typeSpeed: 60,
			backSpeed: 50,
			backDelay: 1500,
			loop: true
		});

		$('.homepage-popup').delay(showDelay + showDuration + showInterval).fadeIn(300);
		$('.close').click(() => $('.homepage-popup').fadeOut(300));
	</script>
</body>

</html>