#desktop-homepage {display: block;}
#mobile-homepage {display: none;}

.nav {position: absolute;}

.index-display {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
}

#logo {
	--logo-size: 140px;
	--logo-stroke: calc(var(--logo-size)/40);
	--logo-offset: calc(var(--logo-size)/22.5);
	--logo-spacing: calc(var(--logo-size)/80);
	height: calc(var(--logo-size) + var(--logo-stroke) + var(--logo-offset));
	width: 100%;
	text-align: center;
	font-family: var(--font2);
	font-size: var(--logo-size);
	font-weight: 900;
	font-style: italic;
	line-height: calc(var(--logo-size) + var(--logo-stroke) + var(--logo-offset));
	letter-spacing: var(--logo-spacing);
	animation: logo 1s;
	animation-delay: 1.8s;
	animation-fill-mode: forwards;
}

#slogan {
	--font-size: 30px;
	height: var(--font-size);
	width: 100%;
	text-align: center;
	font-family: var(--font1);
	font-size: var(--font-size);
	font-weight: 600;
	margin-top: 20px;
	color: var(--primary15);
}

.index-button-container {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 35px;
	margin-bottom: 60px;
}

.bouncer {
	position: absolute;
	bottom: 5px;
	left: 50%;
	font-size: 40px;
	color: var(--primary15);
	transform: translateX(-50%);
	animation: bounce 0.5s infinite alternate;
	transition: opacity 0.5s;
}

@keyframes bounce {
	from {bottom: 5px;}
	to {bottom: 15px;}
}


/* Popup */
.homepage-popup {
	--offset: 30px;
	position: fixed;
	top: var(--offset);
	right: var(--offset);
	display: none;
	z-index: 1000;
}

.close {
	--close-dimension: 30px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: calc(var(--close-dimension)/-2.5);
	right: calc(var(--close-dimension)/-2.5);
	height: var(--close-dimension);
	width: var(--close-dimension);
	background: white;
	border-radius: 50%;
	transition: transform 0.2s;
	cursor: pointer;
}
.close span {
	position: absolute;
	height: calc(var(--close-dimension)/10);
	width: 60%;
	background: black;
	border-radius: calc(var(--close-dimension)/20);
}
.close span:nth-child(1) {transform: rotate(45deg);}
.close span:nth-child(2) {transform: rotate(-45deg);}
.close:hover {transform: scale(1.1);}