/* Index Page */
.container {padding: 20px}
.under-construction {margin: 0;}
.container .heading {text-align: center;}
.container div {margin: 4px 0;}
.button-info {display: none;}
.button.disabled {
	color: white;
	background: var(--grey9);
}



/* Preface */
.tooltip {display: none;}
.greeting-container {margin-bottom: 30px;}
.hi {
	display: block;
	font-size: 35px;
}
.greeting-rest {
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
}
.preface-p {flex-direction: column;}
.preface-p:nth-child(3) {flex-direction: column-reverse;}
.me-pic {
	height: 70vw;
	margin: 30px;
}



/* Site Resources */
.resource {padding: 20px;}
.resource-logo {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 25px;
	max-width: 250px;
}
.resource-name {
	font-size: 30px;
	padding-bottom: 2px;
}
.resource-name span {display: none;}
.resource-description {
	margin: 0;
	margin-top: 12px;
}



.index-links-container {
	margin-top: 30px;
	margin-left: 20px;
}
.letter {font-size: 40px;}



.poll-container  {
	display: flex;
	grid-gap: 0;
	flex-direction: column;
	justify-content: center;
}

iframe {
	width: 100%;
	margin-bottom: 25px;
}



/* Semiblurbs */
.blurb-top {
	flex-direction: column;
	align-items: stretch;
	height: auto;
	padding: 12px var(--blurb-padding);
}

.blurb-title {font-size: 18px;}
.blurb-title:hover > span, .blurb-title:active > span {display: none;}

.blurb-origin {
	font-size: 13px; 
	margin: 0;
}

.blurb-writing {text-indent: 0;}