:root {
	--p-size: 15px;
	--p-height: 22px;
}
html {height: 100%;}
body:not(.index-body) {
	margin: 0;
	padding: 0;
	background: var(--primary2);
	height: calc(100% - 60px);
	box-sizing: border-box;
}
main {
	margin: 0;
	margin-top: var(--mobile-margin);
	padding: 20px;
	padding-top: 50px;
	padding-bottom: 40px;
	border-radius: 0;
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	min-height: 100%;
	box-sizing: border-box;
}



.button {
	display: block;
	font-size: 20px;
	font-weight: 700;
	font-style: italic;
	width: 100%;
	padding: 8px 12px;
	background-color: var(--primary7);
	border-radius: 5px;
	box-shadow: none;
	transition: none;
	margin: 0 auto;
}
.button:after {
	top: 0px;
	left: 0px;
	height: 0;
	width: 0;
	transform: none;
	background-color: none;
	transition: none;
}
.button:hover:after {
	top: 0px;
	left: 0px;
}
.button:active {
	color: white;
	background-color: black;
}



.heading {font-size: 22px;}



/* Table of Contents */
.toc-container {
	text-align: center;
	margin-bottom: 40px;
}
.toc-header {
	font-style: italic;
	font-size: 40px;
	line-height: 50px;
}
.toc-subheader {display: none;}