html {height: 100%;}

body:not(.index-body) {
	margin: 0;
	padding: 0;
	background: var(--primary2);
	height: calc(100% - 60px);
	box-sizing: border-box;
}

main {
	min-height: 100%;
	padding: 20px;
	padding-top: 50px;
	padding-bottom: 40px;
	margin: 0;
	border-radius: 0;
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	box-sizing: border-box;
}



.btn {
	display: block;
	font-size: 20px;
	font-weight: 700;
	font-style: italic;
	width: 100%;
	padding: 8px 12px;
	background: var(--primary7);
	border-radius: 5px;
	box-shadow: none;
	transition: none;
	margin: 0;
}
.btn:before {display: none;}
.btn:active {
	color: white;
	background: black;
}



.heading {font-size: 22px;}



/* Table of Contents */
.chapter-title-container {
	text-align: center;
	margin-bottom: 40px;
}
.chapter-header {
	font-style: italic;
	font-size: 40px;
	line-height: 50px;
}
.chapter-subheader {display: none;}