/* General */
main {transition: margin-top 0.5s;}
.nav {
	margin: 0;
	top: -150px;
	position: absolute;
	left: calc(50% - var(--nav-width)/2);
	transition: top 0.5s;
}
.gutter {
	position: absolute;
	display: block;
	height: 400px;
	width: 100%;
	background-color: var(--primary2);
	top: -400px;
	left: 0;
	z-index: 1000;
}
.popup {
	display: none;
	visibility: hidden;
}



/* Navicon */
.navicon {
	--a: 35px;
	--b: calc(var(--a)/7);
	position: absolute;
	top: calc((var(--mobile-margin) - var(--a))/2);
	left: calc((var(--mobile-margin) - var(--a))/2 + 5px);
	height: var(--a);
	width: var(--a);
	cursor: pointer;
	z-index: 100;
}



/* Little bars */
.navicon-bar {
	position: absolute;
	display: block;
	height: var(--b);
	width: var(--a);
	transition: all 0.2s;
	pointer-events: none;
	border-radius: calc(var(--b)/2);
	background-color: var(--primary7);
	z-index: 100;
}
.navicon-bar-top {
	top: calc(var(--a)/8);
	left: 0;
}
.navicon-bar-middle {
	top: calc(50% - var(--b)/2);
	left: 0;
	margin: 0 auto;
}
.navicon-bar-bottom {
	bottom: calc(var(--a)/8);
	left: 0;
}



/* On click */
#toggle {display: none;}
#toggle:checked ~ .nav {top: 0;}
#toggle:checked ~ main {margin-top: 170px;}

#toggle:checked + label .navicon-bar-top {
	top: calc(var(--a)/2 - var(--b)/2);
	transform: rotate(45deg);
}
#toggle:checked + label .navicon-bar-middle {transform: scale(0);}
#toggle:checked + label .navicon-bar-bottom {
	transform: rotate(-45deg);
	bottom: calc(var(--a)/2 - var(--b)/2);
}



/* Disable ribbons lowering */
.ribbon1:hover {
	transform: translateY(calc(-100% + var(--cover-height) + var(--page-height) + var(--icon-height) + 2*var(--ribbon-padding)));
}
.ribbon2:hover {
	transform: translateY(calc(-100% + var(--cover-height) + 2*var(--page-height) + var(--icon-height) + 2*var(--ribbon-padding)));
}
.ribbon3:hover {
	transform: translateY(calc(-100% + var(--cover-height) + 3*var(--page-height) + var(--icon-height) + 2*var(--ribbon-padding)));
}