#mobile-homepage {
	--search-height: 40px;
	--search-width: 90%;
	--search-padding: 12px;
}

.search {
	margin-top: 10px;
	font-size: 16px;
}

.searchbar {
	font-size: 16px;
}

.btn {
	margin-top: -5px;
	width: 50%;
}