.gutter, #toggle {display: none;}

:root {
	--nav-width: 200px;
	--book-height: calc(var(--nav-width)/2);
	--spine-width: calc(var(--nav-width)/10);
	--cover-height: calc(var(--book-height) - (var(--page-height)*4 + var(--page-border)));
	--cover-width: calc(var(--nav-width) - var(--spine-width));
	--page-border: calc(var(--nav-width)*0.03);
	--page-height: calc(var(--nav-width)/(80/3));
	--page-width: calc(var(--nav-width) - var(--page-border)*2);
	--ribbon-width: calc(var(--nav-width)/5);
	--ribbon-space: calc((var(--cover-width) - var(--page-border) - 3*var(--ribbon-width))/4);
	--ribbon-padding: calc(var(--icon-height)/4);
	--font-size: calc(var(--nav-width)/11.1);
	--icon-height: calc(var(--ribbon-width)/1.4);
}



.nav {
	position: fixed;
	margin-left: var(--main-margin);
	top: 0;
	z-index: 1;
}



/* Book */
.base {
	position: absolute;
	top: 0;
	width: var(--nav-width);
	height: var(--book-height);
	background-color: var(--book-base);
	border-bottom-left-radius: calc(var(--page-height)*2 + var(--page-border));
}

.cover {
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: var(--spine-width);
	width: var(--cover-width);
	height: var(--cover-height);
	background-color: var(--book-cover);
	text-decoration: none;
}

.minilogo {width: 100%;}



/* Pages */
.page {
	position: absolute;
	width: var(--page-width);
	height: calc(var(--page-height)*4);
	top: calc(var(--book-height) - (var(--page-height)*4 + var(--page-border)));
	left: var(--page-border);
	overflow: hidden;
	pointer-events: none;
}
.page:after {
	content: '';
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	width: calc(var(--page-width)*1.1);
	height: calc(var(--page-height)*4);
}

.page1 {border-top-left-radius: calc(var(--page-height)*2);}
.page1:after {
	top: 75%;
	border: 100px solid var(--book-page1);
}

.page2 {border-top-left-radius: calc(var(--page-height)*2);}
.page2:after {
	top: 100%;
	border: 100px solid var(--book-page2);
}

.page3 {
	border-top-left-radius: calc(var(--page-height)*2);
	border-bottom-left-radius: calc(var(--page-height)*2);
}
.page3:after {
	top: 125%;
	border: 100px solid var(--book-page3);
}

.page4 {
	border-top-left-radius: calc(var(--page-height)*2);
	border-bottom-left-radius: calc(var(--page-height)*2);
	background-color: var(--book-page4);
}



/* Ribbons */
.ribbon {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: var(--ribbon-width);
	text-decoration: none;
	transition: transform 0.4s;
}
.ribbon:after {
	content: '';
	position: absolute;
	bottom: 0;
	display: block;
	border-bottom: calc(var(--ribbon-width)/(8/3)) solid transparent;
	transform: translateY(100%);
}
.ribbon span {
	font-family: var(--font4);
	font-size: var(--font-size);
	font-weight: 700;
	margin-top: var(--ribbon-padding);
	color: black;
	text-transform: uppercase;
	writing-mode: vertical-lr;
	white-space: nowrap;
	opacity: 0.4;
}
.icon {
	height: var(--icon-height);
	margin-top: calc(1.1*var(--ribbon-padding));
	margin-bottom: calc(0.9*var(--ribbon-padding));
	opacity: 0.4;
}

/* Ribbon 1 */
.ribbon1 {
	transform: translateY(calc(-100% + var(--cover-height) + var(--page-height) + var(--icon-height) + 2*var(--ribbon-padding)));
	left: calc(var(--spine-width) + var(--ribbon-space));
	background: var(--ribbon1);
}
.ribbon1:after {
	border-left: calc(var(--ribbon-width)/2) solid var(--ribbon1);
	border-right: calc(var(--ribbon-width)/2) solid var(--ribbon1);
	border-top: calc(var(--ribbon-width)/20) solid var(--ribbon1);
}
.ribbon1:hover {transform: translateY(calc(var(--cover-height) + var(--page-height)));}

/* Ribbon 2 */
.ribbon2 {
	transform: translateY(calc(-100% + var(--cover-height) + 2*var(--page-height) + var(--icon-height) + 2*var(--ribbon-padding)));
	left: calc(var(--spine-width) + 2*var(--ribbon-space) + var(--ribbon-width));
	background: var(--ribbon2);
}
.ribbon2:after {
	border-left: calc(var(--ribbon-width)/2) solid var(--ribbon2);
	border-right: calc(var(--ribbon-width)/2) solid var(--ribbon2);
	border-top: calc(var(--ribbon-width)/20) solid var(--ribbon2);
}
.ribbon2:hover {transform: translateY(calc(var(--cover-height) + 2*var(--page-height)));}

/* Ribbon 3 */
.ribbon3 {
	transform: translateY(calc(-100% + var(--cover-height) + 3*var(--page-height) + var(--icon-height) + 2*var(--ribbon-padding)));
	left: calc(var(--spine-width) + 3*var(--ribbon-space) + 2*var(--ribbon-width));
	background: var(--ribbon3);
}
.ribbon3:after {
	border-left: calc(var(--ribbon-width)/2) solid var(--ribbon3);
	border-right: calc(var(--ribbon-width)/2) solid var(--ribbon3);
	border-top: calc(var(--ribbon-width)/20) solid var(--ribbon3);
}
.ribbon3:hover {transform: translateY(calc(var(--cover-height) + 3*var(--page-height)));}



/* Blockers */
.blocker {
	position: absolute;
	width: var(--ribbon-width);
	top: calc(var(--book-height) - (var(--page-height)*4 + var(--page-border)));
	z-index: 20;
}
.blocker:after {
	position: absolute;
	content: '';
	bottom: -10px;
	width: 100%;
	height: 10px;
	pointer-events: none;
}

.blocker1 {
	height: var(--page-height);
	left: calc(var(--spine-width) + var(--ribbon-space));
}
.blocker2 {
	height: calc(var(--page-height)*2);
	left: calc(var(--spine-width) + 2*var(--ribbon-space) + var(--ribbon-width));
}
.blocker3 {
	height: calc(var(--page-height)*3);
	left: calc(var(--spine-width) + 3*var(--ribbon-space) + 2*var(--ribbon-width));
}



/* Popup */
.base-body > .popup {
	position: fixed;
	margin-left: var(--main-margin);
	top: 160px;
	transition: opacity 0.5s;
	z-index: 0;
}