.search {
	--search-height: 40px;
	--search-width: 400px;
	--search-padding: 12px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	font-size: 15px;
	margin-bottom: 25px;
}

.searchbar {
	height: var(--search-height);
	width: var(--search-width);
	font-family: var(--font1);
	font-size: 15px;
	padding-left: var(--search-padding);
	border: none;
	border-radius: 0;
	background: var(--grey1);
	box-sizing: border-box;
}

.searchbar::placeholder {color: var(--grey9);}
.searchbar:focus {outline: none;}

.search-results {
	position: absolute;
	display: none;
	width: var(--search-width);
	margin: 0;
	margin-top: var(--search-height);
	background: var(--grey1);
	box-sizing: border-box;
	z-index: 1;
}

.search-results > a {
	display: flex;
	align-items: center;
	height: var(--search-height);
	text-decoration: none;
	padding-left: var(--search-padding);
	color: black;
}

.search-results > a:hover {background-color: var(--grey2);}