/* General */
.poll {
	--poll-margin1: 8px;
	--poll-margin2: 15px;
	--poll-radius: 6px;
	--option-height: 50px;
	display: inline-flex;
	flex-direction: column;
	width: 100%;
	padding: var(--poll-margin2);
	padding-top: 0;
	border-radius: var(--poll-radius);
	background: var(--primary2);
	box-sizing: border-box;
}

.poll-title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: var(--font2);
	font-size: 20px;
	font-weight: 400;
	font-style: italic;
	margin: 20px;
	color: var(--primary14);
}

.poll-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.poll-info {
	--tooltip-width: 170px;
	--tooltip-float: 6px;
	display: flex;
	font-size: 19px;
	margin-left: 10px;
	border-radius: 50%;
	color: var(--primary5);
	cursor: help;
}

.poll-count {
	font-family: var(--font2);
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	margin-right: 15px;
	color: var(--primary14);
}

.submit {
	height: 45px;
	width: 100px;
	font-family: var(--font3);
	font-size: 18px;
	font-weight: 700;
	font-style: italic;
	border: 0;
	border-radius: var(--poll-radius);
	background: var(--primary5);
	color: white;
	cursor: pointer;
}
.submit:hover {background: var(--primary7);}
.submit:disabled {
	opacity: 0.4;
	cursor: auto;
	pointer-events: none;
}

.loading {
	background: var(--primary4);
	pointer-events: none;
}
.loading .submit-text {display: none;}
.loading .loading-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.loading .dot {
	display: inline-block;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	border-radius: 50%;
	background: var(--primary1);
	animation: shrink-grow 0.6s infinite linear;
}
.loading .dot:nth-child(2) {
	animation: grow-shrink 0.6s infinite linear;
}



/* Multiple Choice */
.option {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--option-height);
	width: 100%;
	font-size: 17px;
	padding: 0 18px;
	margin-bottom: var(--poll-margin1);
	border-radius: var(--poll-radius);
	background: var(--primary1);
	cursor: pointer;
	box-sizing: border-box;
	overflow: hidden;
}
.option:hover {background: white;}

.option-text {
	font-weight: 500;
	z-index: 1;
}

.option-indicator {
	height: 20px;
	width: 20px;
	border: 3px solid var(--primary6);
	border-radius: 50%;
}
input:checked + .option .option-indicator {background: var(--primary6);}

.option-percent {
	font-weight: 600;
	color: var(--primary12);
	z-index: 1;
}

.option-fill {
	position: absolute;
	left: 0;
	height: 100%;
	background: var(--primary4);
	z-index: 0;
}

.option-fill, .option-percent, .poll-count {display: none;}



/* Open Ended */
.textbox-container {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--poll-margin1);
}

.textbox-container textarea {
	width: 100%;
	height: 150px;
	font-size: 15px;
	font-family: var(--font1);
	color: black;
	padding: 12px;
	margin: 0;
	border: 0;
	border-radius: var(--poll-radius);
	background: var(--primary1);
	resize: none;
	box-sizing: border-box;
	-webkit-appearance: none;
}

.textbox-container .tail {
	--tail-dimension: 26px;
	position: relative;
	height: 0;
	width: 0;
	margin-left: auto;
	margin-right: 20px;
	border: 0px solid transparent;
	border-right: var(--tail-dimension) solid var(--primary1);
	border-bottom-width: var(--tail-dimension);
}

.textbox-container textarea:hover {background: white;}
.textbox-container textarea:focus {background: white;}

.textbox-container textarea:hover + .tail {border-right-color: white;}
.textbox-container textarea:focus + .tail {border-right-color: white;}

.textbox-container textarea:disabled {
	opacity: 1;
	color: #888;
	background: var(--lightest-grey);
}
.textbox-container textarea:disabled + .tail {border-right-color: var(--lightest-grey);}