/* General */
.semipoll {
	--input-spacing: 8px;
	--input-border: 3px;
	--input-radius: 6px;
	--top-bottom-margin: 20px;
	display: inline-flex;
	flex-direction: column;
	width: 100%;
	padding: 15px;
	padding-top: 0;
	border-radius: var(--input-radius);
	background: var(--primary2);
	box-sizing: border-box;
}

.semipoll-title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: var(--font2);
	font-size: 20px;
	font-weight: 500;
	font-style: italic;
	margin: var(--top-bottom-margin);
	color: var(--primary14);
}

.semipoll-bottom {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	margin-top: var(--top-bottom-margin);
}

.semipoll-info {
	--tooltip-width: 170px;
	--tooltip-float: 6px;
	display: flex;
	font-size: 19px;
	margin-right: auto;
	margin-left: 10px;
	border-radius: 50%;
	color: var(--primary6);
	cursor: help;
}

.semipoll-count {
	font-family: var(--font2);
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	margin-right: 15px;
	color: var(--primary14);
}

.submit {
	height: 45px;
	width: 100px;
	font-family: var(--font3);
	font-size: 18px;
	font-weight: 700;
	font-style: italic;
	border: 0;
	border-radius: var(--input-radius);
	background: var(--primary5);
	color: white;
	cursor: pointer;
}
.submit:hover {background: var(--primary7);}
.submit:disabled {
	opacity: 0.4;
	cursor: auto;
	pointer-events: none;
}

.loading {
	background: var(--primary4);
	pointer-events: none;
}
.loading .submit-text {display: none;}
.loading .loading-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.loading .dot {
	display: inline-block;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	border-radius: 50%;
	background: var(--primary1);
	animation: shrink-grow 0.6s infinite linear;
}
.loading .dot:nth-child(2) {animation: grow-shrink 0.6s infinite linear;}



/* Radio */
.option {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	width: 100%;
	font-size: 17px;
	font-weight: 500;
	padding: 0 16px;
	border-radius: var(--input-radius);
	background: var(--primary1);
	cursor: pointer;
	box-sizing: border-box;
	overflow: hidden;
}
.option ~ .option {margin-top: var(--input-spacing);}
.option:hover {background: white;}

.option-text {z-index: 1;}

.option-indicator {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 20px;
	font-size: 15px;
	border: var(--input-border) solid var(--primary6);
	border-radius: 50%;
	color: transparent;
}
input:checked + .option {
	box-shadow: inset 0 0 0 var(--input-border) var(--primary6);
	background: white;
}
input:checked + .option .option-indicator {
	color: var(--primary1);
	background: var(--primary6);
}

.option-percent {
	display: none;
	z-index: 1;
}

.option-fill {
	position: absolute;
	left: 0;
	height: 100%;
	background: var(--primary6);
	z-index: 0;
}

.submitted .option {pointer-events: none;}



/* Checkbox */
[data-type="checkbox"] .option-indicator {border-radius: var(--input-border);}



/* Short Answer */
.textbox-container {
	display: flex;
	flex-direction: column;
}

.textbox-container textarea {
	width: 100%;
	height: 150px;
	font-size: 15px;
	font-family: var(--font1);
	color: black;
	padding: 15px;
	margin: 0;
	border: 0;
	border-radius: var(--input-radius);
	background: var(--primary1);
	resize: none;
	box-sizing: border-box;
	-webkit-appearance: none;
}

.textbox-container .tail {
	--tail-dimension: 26px;
	position: relative;
	height: 0;
	width: 0;
	margin-left: auto;
	margin-right: 20px;
	border: 0px solid transparent;
	border-right: var(--tail-dimension) solid var(--primary1);
	border-bottom-width: var(--tail-dimension);
}

.textbox-container textarea:hover,
.textbox-container textarea:focus {
	background: white;
}

.textbox-container textarea:hover + .tail,
.textbox-container textarea:focus + .tail {
	border-right-color: white;
}

.textbox-container textarea:disabled + .tail {border-right-color: var(--lightest-grey);}

.submitted textarea {
	color: #888;
	background: var(--lightest-grey);
	pointer-events: none;
}



/* Likert Scale */
.scale {
	position: relative;
	display: flex;
}

.point {
	--emoji-dimension: 45px;
	--point-padding: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding-top: calc(var(--emoji-dimension) / 2 + var(--point-padding));
	padding-bottom: var(--point-padding);
	margin-top: calc(var(--emoji-dimension) / 2 + var(--input-border));
	border-radius: var(--input-radius);
	background: var(--primary1);
	cursor: pointer;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 1;
}
.point ~ .point {margin-left: var(--input-spacing);}
.point:hover {background: white;}
.point:hover .point-emoji {background: white;}
input:checked + .point {
	box-shadow: inset 0 0 0 var(--input-border) var(--primary6);
	background: white;
}
input:checked + .point .point-emoji {
	background: white;
	border-color: var(--primary6);
}

.point-emoji {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--emoji-dimension);
	width: var(--emoji-dimension);
	font-size: calc(var(--emoji-dimension) - 10px);
	border: var(--input-border) solid var(--primary2);
	border-radius: 50%;
	background: var(--primary1);
}

.point-text {
	display: flex;
	align-items: center;
	text-align: center;
	height: 35px;
	font-size: 13px;
	font-weight: 500;
	line-height: 2.4ex;
	word-spacing: 100vw;
}

.average-bar {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: calc(2 * var(--input-radius));
	width: 100%;
	margin-top: var(--input-spacing);
	border-radius: var(--input-radius);
	background: var(--primary1);
	overflow: hidden;
}

.average-indicator {
	height: 60%;
	width: 2px;
	border-radius: 999px;
	background: var(--primary3);
	z-index: 1;
}

.average-fill {
	position: absolute;
	left: 0;
	height: 100%;
	width: 0%;
	background: var(--primary6);
	z-index: 0;
}

.submitted .point {pointer-events: none;}