#desktop-homepage {display: block;}
#mobile-homepage {display: none;}

#logo {
	--logo-size: 140px;
	--logo-stroke: calc(var(--logo-size)/40);
	--logo-offset: calc(var(--logo-size)/22.5);
	--logo-spacing: calc(var(--logo-size)/80);
	height: 200px;
	width: 100%;
	text-align: center;
	font-family: var(--font2);
	font-size: var(--logo-size);
	font-weight: 900;
	font-style: italic;
	letter-spacing: var(--logo-spacing);
	margin-top: 80px;
	animation: logo 1s;
	animation-delay: 1.8s;
	animation-fill-mode: forwards;
	user-select: none;
}

.typed-cursor {display: none;}