#desktop-homepage {display: block;}
#mobile-homepage {display: none;}

#logo {
	--logo-size: 140px;
	--logo-stroke: calc(var(--logo-size)/40);
	--logo-offset: calc(var(--logo-size)/22.5);
	--logo-spacing: calc(var(--logo-size)/80);
	height: 200px;
	width: 100%;
	text-align: center;
	font-family: var(--font2);
	font-size: var(--logo-size);
	font-weight: 900;
	font-style: italic;
	letter-spacing: var(--logo-spacing);
	margin-top: 80px;
	animation: logo 1s;
	animation-delay: 1.8s;
	animation-fill-mode: forwards;
	user-select: none;
}

.typed-cursor {display: none;}



/* Popup */
.homepage-popup {
	position: fixed;
	top: 20px;
	right: 20px;
	display: none;
	z-index: 1000;
}

.close {
	--close-dimension: 30px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: calc(var(--close-dimension)/-2.5);
	right: calc(var(--close-dimension)/-2.5);
	height: var(--close-dimension);
	width: var(--close-dimension);
	background-color: white;
	color: black;
	cursor: pointer;
	border-radius: 50%;
}
.close span {
	position: absolute;
	height: calc(var(--close-dimension)/10);
	width: 60%;
	background-color: black;
	border-radius: calc(var(--close-dimension)/20);
}
.close span:nth-child(1) {transform: rotate(45deg);}
.close span:nth-child(2) {transform: rotate(-45deg);}