.connection-container {
	--socket-dimension: 70px;
	--prong-spread: calc(var(--socket-dimension) / 2);
	--prong-height: calc(var(--socket-dimension) / 2);
	--prong-width: calc(0.09 * var(--socket-dimension));
	--border-width: calc(2 * var(--input-border));
	--plug-transition: calc(2 * var(--input-transition));
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc(5.5 * var(--socket-dimension));
	margin: 0 auto;
	margin-bottom: var(--main-padding);
}

.connection-title {
	display: flex;
	font-family: var(--font2);
	font-size: 20px;
	font-weight: 700;
	font-style: italic;
	margin-bottom: calc(2 * var(--container-padding));
	color: var(--primary15);
}

.connection-loading-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 20px;
	margin-left: var(--container-padding);
	color: #888;
	animation: spin-right 0.8s steps(8) infinite;
}

.connected-title {display: none;}

.appliance-container {
	position: relative;
	display: flex;
	align-items: center;
	height: var(--socket-dimension);
	width: 100%;
}



/* Database */
.database {
	--depth-constant: 3;
	--depth: calc(var(--socket-dimension) / var(--depth-constant));
	--level-height: calc(0.3 * var(--socket-dimension));
	display: flex;
	flex-direction: column-reverse;
	width: var(--socket-dimension);
	z-index: 3;
}

.database-top, .database-level {
	position: relative;
	width: 100%;
	outline: var(--border-width) solid var(--primary6);
	background: var(--primary2);
}

.database-top {
	height: var(--depth);
	border-radius: 100%;
}

.database-level {
	height: calc(var(--depth) + var(--level-height));
	margin-top: calc(-1 * var(--depth));
	border-radius: calc(var(--depth-constant) * var(--depth)) / var(--depth);
}

.database-dot {
	position: absolute;
	bottom: calc(var(--level-height) / 2);
	left: var(--border-width);
	height: var(--border-width);
	width: var(--border-width);
	border-radius: 50%;
	background: #888;
	transition: all var(--plug-transition);
}



/* Plug */
.plug-runway {
	display: flex;
	align-items: center;
	width: calc(2 var(--socket-dimension) + var(--prong-height));
	overflow: hidden;
	z-index: 2;
}

.plug {
	display: flex;
	align-items: center;
	min-width: calc(2 * var(--socket-dimension));
	transition: all var(--plug-transition);
}

.plug-cable {
	flex-grow: 1;
	height: calc(1.5 * var(--prong-width));
	width: var(--socket-dimension);
	background: #444;
}

.plug-head {
	display: flex;
	align-items: center;
	width: var(--socket-dimension);
}

.plug-head-step {background: black;}
.plug-head-step:nth-child(1) {
	height: calc(3 * var(--prong-width));
	width: calc(20% + var(--prong-width));
	margin-right: calc(-1 * var(--prong-width));
	border-radius: var(--input-border);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.plug-head-step:nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(var(--socket-dimension) - 3 * var(--prong-width));
	width: 60%;
	border-radius: 999px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.plug-head-step:nth-child(3) {
	height: calc(var(--socket-dimension) - 2 * var(--prong-width));
	width: 20%;
	border-radius: var(--input-border);
}

.plug-power-icon {
	font-size: 20px;
	margin-left: 30%;
	color: #888;
	transition: all var(--plug-transition);
}

.plug-prong-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: var(--prong-spread);
	width: var(--prong-height);
	min-width: var(--prong-height);
	transition: all var(--plug-transition);
}

.plug-prong {
	height: var(--prong-width);
	width: 100%;
	border-radius: 999px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background: #ddd;
}



/* Outlet */
.outlet {
	position: absolute;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--socket-dimension);
	width: var(--socket-dimension);
	border-radius: var(--input-radius);
	outline: var(--border-width) solid var(--primary6);
	background: white;
	z-index: 1;
}

.outlet-eye-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: var(--prong-spread);
	width: 30%;
}

.outlet-eye {
	height: var(--prong-width);
	width: 100%;
	border-radius: var(--input-border);
	background: black;
}
.outlet-eye:nth-child(2) {width: 90%;}

.outlet-mouth {
	height: calc(2 * var(--prong-width));
	width: calc(2 * var(--prong-width));
	margin-right: 10%;
	border-radius: 999px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background: black;
}


/* Connected */
.connected .disconnected-title {display: none;}
.connected .connected-title {display: flex;}

.connected .plug-runway {width: calc(100% - 1.3 * var(--socket-dimension));}

.connected .plug {min-width: 100%;}

.connected .plug-power-icon {color: #0a84ff;}

.connected .database-dot {background: #32d74b;}