	<!--Meta-->
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="google" content="notranslate"/>
	<link rel="canonical" href="{{ page.url | absolute_url }}">

	<!--Favicon-->
	<link rel="icon" type="image/png" href="/img/favicon.png">
	<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>
	<link rel="apple-touch-icon" href="/img/favicon.png">

	<!--Fonts-->
	<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/fonts/fonts.css"/>

	<!--Main CSS-->
	<link rel="stylesheet" href="/css/main/themes.css"/>
	<link rel="stylesheet" href="/css/main/master.css"/>
	<link rel="stylesheet" href="/css/main/main.css"/>
	<link rel="stylesheet" href="/css/main/semiterm.css"/>
	<link rel="stylesheet" href="/css/main/table/table-main.css"/>
	<link rel="stylesheet" href="/css/main/table/table-rest.css"/>
	<link rel="stylesheet" href="/css/main/table/polls.css"/>
	<link rel="stylesheet" href="/css/main/animations.css"/>

	<!--Widgets-->
	<link rel="stylesheet" href="/css/main/widgets/nav.css"/>
	<link rel="stylesheet" href="/css/main/widgets/tooltip.css"/>
	<link rel="stylesheet" href="/css/main/widgets/popup.css"/>

	<!--Mobile Queries-->
	<link rel="stylesheet" media="screen and (max-width: 600px)" href="/css/mobile/main.css"/>
	<link rel="stylesheet" media="screen and (max-width: 600px)" href="/css/mobile/semiterm.css"/>
	<link rel="stylesheet" media="screen and (max-width: 600px)" href="/css/mobile/table.css"/>
	<link rel="stylesheet" media="screen and (max-width: 600px)" href="/css/mobile/nav.css"/>

	<!--Other Queries-->
	<link rel="stylesheet" media="screen and (min-width: 1400px)" href="/css/queries/desk-large.css"/>
	<link rel="stylesheet" media='screen and (min-width: 601px) and (max-width: 1000px)' href="/css/queries/tablet.css"/>

	<!--Plugins-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.3/mousetrap.min.js"></script>
	<script src="https://kit.fontawesome.com/5978d27576.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

	<!-- Google Analytics -->
	{% include analytics.html %}

	<!--Page Specifics-->