	<!-- Meta -->
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="google" content="notranslate"/>
	<link rel="canonical" href="{{ page.url | absolute_url }}">
	<title>{%- include title.html -%}</title>
	<meta name="title" content="{%- include title.html -%}">
	<meta name="description" content="{%- include description.html -%}">

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/img/logos/favicon-32.ico">
	<link rel="icon" sizes="32x32" href="{{ site.baseurl }}/img/logos/favicon-32.png">
	<link rel="icon" sizes="100x100" href="{{ site.baseurl }}/img/logos/favicon-100.png">
	<link rel="icon" sizes="150x150" href="{{ site.baseurl }}/img/logos/favicon-150.png">
	<link rel="icon" sizes="300x300" href="{{ site.baseurl }}/img/logos/favicon-300.png">
	<link rel="apple-touch-icon" href="{{ site.baseurl }}/img/logos/favicon-300.png">

	<!-- Open Graph/Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ page.url | absolute_url }}">
	<meta property="og:title" content="{%- include title.html -%}">
	<meta property="og:description" content="{%- include description.html -%}">
	<meta property="og:image" content="{{ site.baseurl }}/img/logos/preview.png">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary">
	<meta property="twitter:url" content="{{ page.url | absolute_url }}">
	<meta property="twitter:title" content="{%- include title.html -%}">
	<meta property="twitter:description" content="{%- include description.html -%}">
	<meta property="twitter:image" content="{{ "/img/logos/favicon-300.png" | absolute_url }}">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,400;1,700&family=Noto+Sans:ital,wght@1,700&family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ site.baseurl }}/fonts/fonts.css"/>

	<!-- Main CSS -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/theme.css"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/master.css"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/toc.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/chapters.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/semiterm.css"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/animations.css"/>

	<!-- Widgets -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/widgets/nav.css"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/widgets/tooltip.css"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/widgets/popup.css"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/widgets/poll.css"/>

	<!-- Mobile -->
	<link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ site.baseurl }}/css/sizes/mobile/main.css"/>
	<link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ site.baseurl }}/css/sizes/mobile/semiterm.css"/>
	<link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ site.baseurl }}/css/sizes/mobile/table.css"/>
	<link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ site.baseurl }}/css/sizes/mobile/nav.css"/>

	<!-- Other Sizes -->
	<link rel="stylesheet" media="screen and (min-width: 1400px)" href="{{ site.baseurl }}/css/sizes/desk-large.css"/>
	<link rel="stylesheet" media='screen and (min-width: 601px) and (max-width: 1000px)' href="{{ site.baseurl }}/css/sizes/tablet.css"/>

	<!-- Plugins -->
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
	<script src="https://kit.fontawesome.com/5978d27576.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>