	<!--Meta-->
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="google" content="notranslate"/>
	<link rel="canonical" href="{{ page.url | absolute_url }}">

	<!--Favicon-->
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon.png">
	<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/img/favicon.ico"/>
	<link rel="apple-touch-icon" href="{{ site.baseurl }}/img/favicon.png">

	<!--Fonts-->
	<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,400;1,700&family=Noto+Sans:ital,wght@1,700&family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ site.baseurl }}/fonts/fonts.css"/>

	<!--Main CSS-->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main/themes.css"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main/master.css"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main/main.css"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main/semiterm.css"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main/table/table-main.css"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main/table/table-rest.css"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main/table/poll.css"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main/animations.css"/>

	<!--Widgets-->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main/widgets/nav.css"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main/widgets/tooltip.css"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main/widgets/popup.css"/>

	<!--Mobile Queries-->
	<link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ site.baseurl }}/css/mobile/main.css"/>
	<link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ site.baseurl }}/css/mobile/semiterm.css"/>
	<link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ site.baseurl }}/css/mobile/table.css"/>
	<link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ site.baseurl }}/css/mobile/nav.css"/>

	<!--Other Queries-->
	<link rel="stylesheet" media="screen and (min-width: 1400px)" href="{{ site.baseurl }}/css/queries/desk-large.css"/>
	<link rel="stylesheet" media='screen and (min-width: 601px) and (max-width: 1000px)' href="{{ site.baseurl }}/css/queries/tablet.css"/>

	<!--Plugins-->
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
	<script src="https://kit.fontawesome.com/5978d27576.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

	<!-- Google Analytics -->
	{% include analytics.html %}

	<!--Page Specifics-->