<div class="nav">
	<div class="base"></div>
	<div class="page page4"></div>
	<a class="ribbon ribbon3" href="{{ site.baseurl }}/table/">
		<span>Table of Contents</span>
		<img class="icon" src="{{ site.baseurl }}/img/toc.svg">
	</a>
	<div class="page page3"></div>
	<a class="ribbon ribbon2" href="{{ site.baseurl }}/table/semipage-index">
		<span>Semipage Index</span>
		<img class="icon" src="{{ site.baseurl }}/img/semipage.svg">
	</a>
	<div class="page page2"></div>
	<a class="ribbon ribbon1" href="{{ site.baseurl }}/table/semiterm-index">
		<span>Semiterm Index</span>
		<img class="icon" src="{{ site.baseurl }}/img/semiterm.svg">
	</a>
	<div class="page page1"></div>
	<div class="blocker blocker1"></div>
	<div class="blocker blocker2"></div>
	<div class="blocker blocker3"></div>
	<a class="cover" href="{{ site.baseurl }}/">
		<img class="minilogo" src="{{ site.baseurl }}/img/logo-nav.svg">
	</a>
</div>