/* Doyle Light */
@font-face {
	font-family: 'Doyle';
	font-weight: 300;
	font-style: normal;
	font-display: block;
	unicode-range: U+000-5FF;
	src: local('Doyle'),
	url('Doyle/Doyle-Light.woff') format('woff');
}
@font-face {
	font-family: 'Doyle';
	font-weight: 300;
	font-style: italic;
	font-display: block;
	unicode-range: U+000-5FF;
	src: local('Doyle'),
	url('Doyle/Doyle-Light-Italic.woff') format('woff');
}

/* Doyle Medium */
@font-face {
	font-family: 'Doyle';
	font-weight: 500;
	font-style: normal;
	font-display: block;
	unicode-range: U+000-5FF;
	src: local('Doyle'),
	url('Doyle/Doyle-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Doyle';
	font-weight: 500;
	font-style: italic;
	font-display: block;
	unicode-range: U+000-5FF;
	src: local('Doyle'),
	url('Doyle/Doyle-Medium-Italic.woff') format('woff');
}

/* Doyle Bold */
@font-face {
	font-family: 'Doyle';
	font-weight: 700;
	font-style: normal;
	font-display: block;
	unicode-range: U+000-5FF;
	src: local('Doyle'),
	url('Doyle/Doyle-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Doyle';
	font-weight: 700;
	font-style: italic;
	font-display: block;
	unicode-range: U+000-5FF;
	src: local('Doyle'),
	url('Doyle/Doyle-Bold-Italic.woff') format('woff');
}

/* Doyle Black */
@font-face {
	font-family: 'Doyle';
	font-weight: 900;
	font-style: normal;
	font-display: block;
	unicode-range: U+000-5FF;
	src: local('Doyle'),
	url('Doyle/Doyle-Black.woff') format('woff');
}
@font-face {
	font-family: 'Doyle';
	font-weight: 900;
	font-style: italic;
	font-display: block;
	unicode-range: U+000-5FF;
	src: local('Doyle'),
	url('Doyle/Doyle-Black-Italic.woff') format('woff');
}



/* Arimo */
@font-face {
	font-family: 'Arimo';
	font-weight: 400;
	font-style: normal;
	src: url('IPA/Arimo-Regular.ttf') format('truetype');
}