/* Bitter Regular */
@font-face {
	font-family: 'Bitter Pro';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('BitterPro/woff2/BitterPro-Regular.woff2') format('woff2'),
	     url('BitterPro/woff/BitterPro-Regular.woff') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Bitter Pro';
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url('BitterPro/woff2/BitterPro-Italic.woff2') format('woff2'),
	     url('BitterPro/woff/BitterPro-Italic.woff') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Bitter Medium */
@font-face {
	font-family: 'Bitter Pro';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('BitterPro/woff2/BitterPro-Medium.woff2') format('woff2'),
	     url('BitterPro/woff/BitterPro-Medium.woff') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Bitter Pro';
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	src: url('BitterPro/woff2/BitterPro-MediumItalic.woff2') format('woff2'),
	     url('BitterPro/woff/BitterPro-MediumItalic.woff') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Bitter Semibold */
@font-face {
	font-family: 'Bitter Pro';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url('BitterPro/woff2/BitterPro-SemiBold.woff2') format('woff2'),
	     url('BitterPro/woff/BitterPro-SemiBold.woff') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Bitter Pro';
	font-weight: 600;
	font-style: italic;
	font-display: swap;
	src: url('BitterPro/woff2/BitterPro-SemiBoldItalic.woff2') format('woff2'),
	     url('BitterPro/woff/BitterPro-SemiBoldItalic.woff') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Bitter Bold */
@font-face {
	font-family: 'Bitter Pro';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('BitterPro/woff2/BitterPro-Bold.woff2') format('woff2'),
	     url('BitterPro/woff/BitterPro-Bold.woff') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Bitter Pro';
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url('BitterPro/woff2/BitterPro-BoldItalic.woff2') format('woff2'),
	     url('BitterPro/woff/BitterPro-BoldItalic.woff') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}





/*Doyle Light*/
@font-face {
	font-family: 'Doyle';
	src: url('Doyle/Doyle-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'Doyle';
	src: url('Doyle/Doyle-Light-Italic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: block;
}

/*Doyle Medium*/
@font-face {
	font-family: 'Doyle';
	src: url('Doyle/Doyle-Medium.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'Doyle';
	src: url('Doyle/Doyle-Medium-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: block;
}

/*Doyle Bold*/
@font-face {
	font-family: 'Doyle';
	src: url('Doyle/Doyle-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'Doyle';
	src: url('Doyle/Doyle-Bold-Italic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
	font-display: block;
}

/*Doyle Black*/
@font-face {
	font-family: 'Doyle';
	src: url('Doyle/Doyle-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'Doyle';
	src: url('Doyle/Doyle-Black-Italic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: block;
}





@font-face {
	font-family: 'Arimo';
	src: url('IPA/Arimo-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}