---
query: Should healthcare be a universal right?
option1: "Yes"
option2: "No"

tooltip: This is a multiple choice poll. Select your option and click submit. Your vote will be anonymously tallied.
---
<!DOCTYPE html>
<html>

<head>
{% include small-head.html %}
	<link rel="stylesheet" href="{{ site.baseurl }}/css/widgets/poll.css"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/widgets/tooltip.css"/>
</head>

<body>
	<div class="multi-choice poll">
		<div class="poll-title">{{ page.query }}</div>

		<input type="radio" name="vote" id="option1" value="1">
		<label for="option1">
			<span class="option-text">{{ page.option1 }}</span>
			<span class="option-indicator"></span>
			<span class="option-percent option-percent1"></span>
			<span class="option-fill option-fill1"></span>
		</label>

		<input type="radio" name="vote" id="option2" value="2">
		<label for="option2">
			<span class="option-text">{{ page.option2 }}</span>
			<span class="option-indicator"></span>
			<span class="option-percent option-percent2"></span>
			<span class="option-fill option-fill2"></span>
		</label>

		{% include poll-bottom.html %}
	</div>

	<script>
	$('.submit').click(function() {
		var voteVal = $('input[name="vote"]:checked').val();
		var url = 'https://semipedia-backend.herokuapp.com/test-pack/healthcare.php';
		$.get(url, {vote:voteVal}, function(xhr) {
			$('body').append(xhr);
		});
	});
	</script>
	<script src="{{ site.baseurl }}/js/poll.js"></script>
</body>

</html>