.popup {
	position: fixed;
	width: var(--nav-width);
	padding: 0;
	background-color: var(--primary3);
	border-radius: 10px;
	z-index: 1000;
}



.close {
	--close-dimension: 30px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: calc(var(--close-dimension)/-2.5);
	right: calc(var(--close-dimension)/-2.5);
	height: var(--close-dimension);
	width: var(--close-dimension);
	background-color: white;
	color: black;
	cursor: pointer;
	border-radius: 50%;
	display: none;
}

.close div {
	position: absolute;
	height: calc(var(--close-dimension)/10);
	width: 60%;
	background-color: black;
	border-radius: calc(var(--close-dimension)/20);
}
.close div:nth-child(1) { transform: rotate(45deg); }
.close div:nth-child(2) { transform: rotate(-45deg); }



.popup-me {
	position: absolute;
	width: var(--nav-width);
	margin-top: 10px;
	z-index: 1;
}

.popup-info {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: var(--primary4);
	margin-top: calc(var(--nav-width)/1.35);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 2;
}

.popup-header {
	font-family: var(--font2);
	font-size: 30px;
	font-weight: 400;
	font-style: italic;
	color: white;
	margin: 0;
	padding: 0;
	margin-top: 10px;
}

.popup-subtext {
	font-family: var(--font1);
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
	color: white;
	text-align: center;
	margin: 0 10px;
	margin-bottom: 10px;
	padding: 0;
}

.popup-info .button {
	margin-top: 10px;
	margin-bottom: 25px;
}



.base-body .popup {
	margin-left: var(--main-margin);
	top: 160px;
	transition: opacity 0.5s;
	z-index: 0;
}

#desktop-homepage .popup {
	top: 20px;
	right: 20px;
	display: none;
}

#desktop-homepage .close {
	display: flex;
}