<!DOCTYPE html>
<html>

<head>
	{% include head.html %}

	<!-- Chapter Specific -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/chapters/main.css">
	{%- if page.type == "specific" %}
	<link rel="stylesheet" href="{{ site.baseurl }}/css/chapters{{ page.url | replace: ".html", "" | replace: "/chapters", "" }}.css">
	{%- endif %}
	<link rel="stylesheet" media="all and (max-width: {{ site.tablet_width }})" href="{{ site.baseurl }}/css/mobile/chapters.css">
</head>

<body class="base-body">
	<div class="nav">
		{% include navicon.html %}
		{% include navbook.html %}
				
		{%- for popup in site.popups %}
			{%- assign name = popup.url | replace:"/popups/","" | replace:".html","" %}
			{%- if name == site.current_popup %}
				{{ popup }}
			{%- endif %}
		{%- endfor %}
	</div>

	<main>
		<div class="chapter-title-container">
			<div class="chapter-title">{{ page.title }}</div>
			<div class="chapter-subtitle">
				<div class="chapter-subtitle-accent"></div>
				<span>{{ page.subtitle }}</span>
				<div class="chapter-subtitle-accent"></div>
			</div>
		</div>
		{{ content }}
	</main>

	<script src="{{ site.baseurl }}/js/main.js"></script>
</body>

</html>