---
layout: base
---

<div class="definition-container">
	<div class="actual-semiterm">{{ page.title }}</div>
	<div class="semiterm-info">
		<span class="pos">
			{%- capture pos -%}
			{%- for definition in page.definition -%}
			{{- definition.pos -}}$
			{%- endfor -%}
			{%- endcapture -%}
			{%- assign pos = pos | split: "$" -%}
			{{- pos | join: " | " -}}
		</span>
		<span class='pron'>
			<span class="pron-type phon">{{ page.phonetic }}</span>
			<span class="pron-type ipa" style="display:none">{{ page.ipa }}</span>
		</span>
		<button class="pron-toggle">Show IPA Spelling</button>
	</div>

	{%- for definition in page.definition %}
	<div class="pos-definition">
		<span class="pos pos-label">{{ definition.pos }}</span>
		<div class="definition-list">
			{% assign count = 0 %}
			{%- for description in definition.description -%}
			<div class="definition">
				{% assign count = count | plus: 1 %}
				<p class="definition-count">{{ count }}.</p>
				<div class="description">
					<p class="definition-explanation">{{ description.explanation }}</p>
					<p class="definition-example">"{{ description.example }}"</p>
				</div>
			</div>
			{%- endfor -%}
		</div>
	</div>
	{%- endfor %}

	<div class="semiterm-additional">
		{%- assign content = page.content | strip_newlines -%}
		{%- if content != "" -%}
		<div class="heading extra-heading">More Info</div>
		<div class="info-text">{{ content }}</div>
		{%- endif -%}
		<div class="heading extra-heading">Origin</div>
		<p class="semiterm-origin semiterm-date">Date Added: <span>{{ page.date | date: '%B %-d, %Y' }}</span></p>
		<p class="semiterm-origin semiterm-neologist">Neologist: <span>{{ page.neologist }}</span></p>
	</div>
</div>

<script>
	$('.pron-toggle').click(function() {
		$('.phon, .ipa').toggle();
		$(this).html($(this).html() == 'Show IPA Spelling' ? 'Show Phonetic Respelling' : 'Show IPA Spelling');
	});
</script>