---
layout: base
---

<div class="def-container">
	<div class="semiterm">{{ page.title }}</div>
	<div class="semiterm-info">
		<div class="pos">
			{%- capture pos -%}
			{%- for definition in page.definition -%}
			{{- definition.pos -}}$
			{%- endfor -%}
			{%- endcapture -%}
			{%- assign pos = pos | split: "$" -%}
			{{- pos | join: " | " -}}
		</div>
		<div class='pron'>
			<span class="pron-type phon">{{ page.phonetic }}</span>
			<span class="pron-type ipa" style="display:none">{{ page.ipa }}</span>
		</div>
		<button class="pron-toggle">Show IPA Spelling</button>
	</div>

	{% for definition in page.definition -%}
	<div class="def">
		<p class="pos pos-label">{{ definition.pos }}</p>	
		<ol class="def-list">
			{%- for description in definition.description -%}
			<li class="def-text">{{ description.explanation }}</li>
			<p class="def-ex">"{{ description.example }}"</p>
			{%- endfor -%}
		</ol>
	</div>
	{%- endfor %}

	<div class="additional">
		{%- assign content = page.content | strip_newlines -%}
		{%- if content != "" -%}
		<p class="heading extra-heading">More Info</p>
		{{ content }}
		{%- endif -%}
		<p class="heading extra-heading">Origin</p>
		<p class="date">Date Added: <span>{{ page.date | date: '%B %-d, %Y' }}</span></p>
		<p class="neologist">Neologist: <span>{{ page.neologist }}</span></p>
	</div>
</div>

<script>
	$('.pron-toggle').on('click', function() {
		$('.phon, .ipa').toggle();
		$(this).html($(this).html() == 'Show IPA Spelling' ? 'Show Phonetic Respelling' : 'Show IPA Spelling');
	});
</script>