body {
	--font1:         'Bitter Pro', Calibri, serif;
	--font2:         'Doyle', sans-serif;
	--font3:         'Karla', Calibri, sans-serif;
	--font4:         'Roboto Mono', monospace;
	--font5:         'Noto Sans', sans-serif;
	--font6:         'Arimo', sans-serif;
	--text:          black;
	--primary1:      hsl(18, 59%, 97%);
	--primary2:      hsl(18, 59%, 92%);
	--primary3:      hsl(18, 59%, 87%);
	--primary4:      hsl(18, 59%, 82%);
	--primary5:      hsl(18, 59%, 77%);
	--primary6:      hsl(18, 59%, 72%);
	--primary7:      hsl(18, 59%, 67%);
	--primary8:      hsl(18, 59%, 62%);
	--primary9:      hsl(18, 59%, 57%);
	--primary10:     hsl(18, 59%, 52%);
	--primary11:     hsl(18, 59%, 47%);
	--primary12:     hsl(18, 59%, 42%);
	--primary13:     hsl(18, 59%, 37%);
	--primary14:     hsl(18, 59%, 32%);
	--primary15:     hsl(18, 59%, 27%);
	--primary16:     hsl(18, 59%, 22%);
	--primary17:     hsl(18, 59%, 17%);
	--primary18:     hsl(18, 59%, 12%);
	--grey1:         hsl(0, 0%, 96%);
	--grey2:         hsl(0, 0%, 91%);
	--grey3:         hsl(0, 0%, 86%);
	--grey4:         hsl(0, 0%, 81%);
	--grey5:         hsl(0, 0%, 76%);
	--grey6:         hsl(0, 0%, 71%);
	--grey7:         hsl(0, 0%, 66%);
	--grey8:         hsl(0, 0%, 61%);
	--grey9:         hsl(0, 0%, 56%);
	--grey10:        hsl(0, 0%, 51%);
	--grey11:        hsl(0, 0%, 46%);
	--grey12:        hsl(0, 0%, 41%);
	--grey13:        hsl(0, 0%, 36%);
	--grey14:        hsl(0, 0%, 31%);
	--grey15:        hsl(0, 0%, 26%);
	--grey16:        hsl(0, 0%, 21%);
	--book-cover:    #967259;
	--book-base:     #634832;
	--book-page1:    hsl(0, 0%, 100%);
	--book-page2:    hsl(0, 0%, 91%);
	--book-page3:    hsl(0, 0%, 82%);
	--book-page4:    hsl(0, 0%, 73%);
	--ribbon1:       #E74B3B;
	--ribbon1-dark:  hsl(6, 78%, 47%);
	--ribbon2:       #5E5EF3;
	--ribbon2-dark:  hsl(240, 86%, 56%);
	--ribbon3:       #00B300;
	--ribbon3-dark:  hsl(120, 100%, 25%);
}